[2021-09-15 20:15] rakudrama commented on #2007
Should we include https://pub.dev/packages/characters ?
It might be re-exported by flutter but it is not a flutter-specific package.

[2021-09-15 20:25] srawlins commented on #2007
https://github.com/dart-lang/dart-services/pull/747 handled all of these except `flutter_bloc`.

[2021-09-16 00:34] RedBrogdon opened #2010 "url_launcher plugin complains of missing web plugin implementation"
This gist prints an error message relating to a missing plugin implementation:

https://dartpad.dev/?id=5d148dd65b73f85d09bfceac78cf4683&null_safety=true

It's possible, given DartPad's unusual mechanism for compiling apps, that the code from the underlying url_launcher_web isn't being properly included with the user's compiled Dart code.

[2021-09-16 00:35] RedBrogdon commented on #2010
FWIW, our iframe sandboxing will probably keep this from working even when the above issue is fixed, but that's also something we can address.

[2021-09-16 09:34] orestesgaolin opened #2011 "Focus on DartPad behaves differently than when running Flutter app in Chrome"
## What happened?

Focus in DartPad behaves differently than when running Flutter app in Chrome browser. It doesn't react to [Tab] presses as it's expected in typical application but goes outside of the Flutter iframe.

## Steps to reproduce problem

Run the following sample with two form fields.

Then put the cursor in the 1st `TextFormField` and press [Tab]. The focus goes outside of the Flutter

[2021-09-16 18:04] RedBrogdon commented on #2011
Thanks for filing an issue, @orestesgaolin. We've got an open issue for some other, possibly related, focus-related weirdness at #1963. I'll see if I can get some traction on this from engineering.

[2021-09-16 18:19] RedBrogdon opened #2012 "Create demos for package support"
We need a few demos to demonstrate package support, which need to be hosted in the shared gist account and linked into the Samples dropdown.

Some possibilities:

* provider_counter: https://gist.github.com/RedBrogdon/22154f2554836eccdacb90c6eb7e8be6
* Something with flutter_bloc, once that's in the list.
* Something with url_launcher that is capable of opening a new tab.
* Ideally something that

[2021-09-16 19:16] puf commented on #2007
FlutterFire just added support for Realtime Database on the web. 🎉

When I add
[code]
to Dartpad, I get:

Any chance you add these @srawlins , so I can continue testing?

[2021-09-16 20:18] srawlins commented on #2007
Will do!

[2021-09-16 21:48] #2007 closed

[2021-09-20 00:43] srawlins opened #2013 "Back-ends for beta, dev, old, appear to be serving pre-null safety"
We'd like them to serve null safety, exclusively.

E.g.

http://localhost:8000/?null_safety=true&channel=old

[2021-09-20 00:43] srawlins commented on #2013
CC @domesticmouse

[2021-09-20 03:51] domesticmouse commented on #2013
I've updated the build configuration for dev, beta, and old to run null-safety.

For various reasons, old is currently running Flutter 2.5.1 (primarily, I blame `google_fonts` which requires a version of `meta` that is too new for Flutter 2.2.3).

[2021-09-20 03:52] #2013 closed

[2021-09-20 23:47] RedBrogdon commented on #1421
Flutter supports hot _restart_ on the web, which DartPad does make use of -- you may notice that the first time you run an app, there's a delay between the Run button lighting up again and the first frame rendered by Flutter, and that the delay is significantly less for subsequent compiles.

Hot reload, on the other hand, is still in progress. There's a tracking issue here: https://github.com/flut

[2021-09-23 09:01] ScottS2017 commented on #1984
lgtm, thanks!

[2021-09-23 15:29] johnpryan commented on #1984
Thanks for filing an issue!

[2021-09-24 05:06] srawlins commented on #2010
Yegor showed me that `flutter packages get` will generate this `lib/generated_plugin_registrant.dart` file [here](https://github.com/flutter/flutter/blob/fa0782b696dbaa141936d29332ce9d3807dc9acd/packages/flutter_tools/lib/src/build_system/targets/web.dart#L132).

I _think_ all we need to do is change `flutter pub get` to `flutter packages get`, in grind.dart.

[2021-09-25 05:44] domesticmouse opened #2015 "Migrate `dart-services` to `dart` docker image"
Attempting to migrate from the `google/dart` docker image to `dart` image fails. The GCP Cloud Build log from [Use the dart docker image #753](https://github.com/dart-lang/dart-services/pull/753) follows:

[code]

/cc @mit-mit @kevmoo @jonasfj

[2021-09-25 18:44] kevmoo commented on #2015
Weird! Even changing these to `dart pub get` fails.

Must be a permissions thing...but no clue how to solve it.

[2021-09-27 09:10] mit-mit commented on #2015
cc @athomas, any idea?

[2021-09-27 09:53] athomas commented on #2015
I believe the root cause is https://github.com/dart-lang/sdk/issues/47093:

`Step #0 - "Build": Step 6/17 : USER dart` <- Switches the user in the container, but then the user doesn't have access because of the incorrect permissions in our zip files. This is only an issue in containers because docker messes with the `umask` that overrides some of the permissions in containers.

[2021-09-27 19:44] srawlins opened #2019 "Dev channel crashing on CI in catchError"
I'm seeing crashes on PRs on the dev channel that look like:

[code]

I tried adding a callback to the `timeout` call on analysis_server.dart line 446, which revealed more details:

[code]

[2021-09-28 10:02] kamleshwebtech opened #2021 "How to use word-wrap feature in dart pad?"
Kindly suggest how to use word-wrap feature in dart pad? BTW do we have such feature in dart-pad online in the browser? Kindly confirm. Thanks a lot.

[2021-09-29 01:12] TimWhiting commented on #2007
`riverpod` is actually the pure dart version of `riverpod` (no flutter support). I don't know what criteria you have for adding to this list, but could `flutter_riverpod`, `hooks_riverpod`, and `flutter_hooks` be added to the list?

[2021-09-29 05:23] domesticmouse commented on #2015
I suspect https://chanind.github.io/2021/09/27/cloud-run-home-env-change.html isn't helping matters

[2021-09-29 09:23] Cat-sushi opened #2023 "10.0 erroneously becomes int"
## What happened?
`10.0` erroneously becomes `int`.

## Steps to reproduce problem

https://dartpad.dev/?id=4198b74bc13f19fc6e9600fe72d2d8c4&null_safety=true

## Additional info

### Browser

Browser: Google Chrome

Version: 94.0.4606.61（Official Build） （64bit)

### Machine

Operating system: Ubuntu

Version: 20.04.3 LTS

### Your code

[code]

### DartPad's output

[code]

[2021-09-29 10:36] eernstg commented on #2023
This is working as intended. In particular, every number `n` in Dart on a web platform is represented as a JavaScript number, and we have `n is double` in every case, and `n is int` if the number does not have a non-zero decimal part (that is, it represents a whole number). The `runtimeType` is consistent with this and reports that `10.0` in an `int`, but if you test it you will also see that it `

[2021-09-29 10:36] #2023 closed

[2021-09-29 11:23] #2015 closed

[2021-09-29 14:37] Cat-sushi commented on #2023
Yes, I knew.
But I didn't know there are no information of types in Dart.

[2021-09-29 16:27] eernstg commented on #2023
A heap object carries information about its run-time type, also for Dart programs compiled to JavaScript.

As a very special case, with a Dart program compiled to JS, numbers are not heap objects. They are represented directly as JavaScript numbers. A JavaScript number can be stored in a CPU register, and it does not carry information about its run-time type which will allow Dart programs (running

[2021-09-29 17:31] srawlins commented on #2007
@zoeyfan WDYT about `flutter_riverpod`, `hooks_riverpod`, and `flutter_hooks`?

[2021-09-29 19:57] RedBrogdon commented on #2021
Thanks for filing an issue, @kamieshwebtech!

We've actually disabled line-wrapping in DartPad for the time being. It used to be on by default, but caused large strings (that couldn't be broken) to break our UI.

[2021-09-29 19:57] #2021 closed

[2021-09-29 22:02] srawlins opened #2024 "Add Riverpod support"
We currently support 'riverpod', the individual package, but @TimWhiting pointed out this is not complete Riverpod support.

We need to add `flutter_riverpod`.

We may also need to add `hooks_riverpod`. @RedBrogdon is investigating.

[2021-09-29 22:02] srawlins commented on #2007
Moved to https://github.com/dart-lang/dart-pad/issues/2024

[2021-09-30 05:29] #2010 closed

[2021-09-30 16:53] johnpryan opened #2025 "Remove confirmation dialog when new pad is created"
Right now we show an additional dialog when a new pad is creatd. Opening the "New Pad" dialog and pressing OK should be all you need to do.

[2021-10-01 07:42] sperochon commented on #1547
Hi,

I'm facing the same problem with the flutter code:
`import 'package:flutter/material.dart';

void main() {
  runApp(
    const Text(
        'Hello, world!',
        textDirection: TextDirection.ltr,
      ),
  );
}`

The output on Android emulator or on real Android device is not the same as the one in dartpad since the text is displayed in light grey as following:
![Capture d’écran 2021-10

[2021-10-03 21:26] devnoaman commented on #1566
hi @RedBrogdon , i  faced the same error and when i start the inspector i get these errors.

`[Error] Resource blocked by content blocker
	wd (analytics.js:39)
	pe (analytics.js:38)
	oc (analytics.js:39:471)
	Ea (analytics.js:39:333)
	(anonymous function) (analytics.js:38:480)
[Error] XMLHttpRequest cannot load https://stats.g.doubleclick.net/j/collect?t=dc&aip=1&_r=3&v=1&_v=j93&tid=UA-26406144-18

[2021-10-03 21:27] devnoaman commented on #1566
hi @RedBrogdon , i faced the same error and when i start the inspector i get these errors.

[2021-10-03 21:30] devnoaman commented on #1566
wd (analytics.js:39)
	pe (analytics.js:38)
	oc (analytics.js:39:471)
	Ea (analytics.js:39:333)
	(anonymous function) (analytics.js:38:480)
[Error] XMLHttpRequest cannot load https://stats.g.doubleclick.net/j/collect?t=dc&aip=1&_r=3&v=1&_v=j93&tid=UA-26406144-18&cid=1423237509.1633080647&jid=405463725&gjid=906746617&_gid=516873637.1633183263&_u=QACAAEAAAAAAAC~&z=988495471 due to access control chec

[2021-10-03 21:32] devnoaman commented on #1566
in addition:

[Error] Failed to load resource: the server responded with a status of 404 () (main.dart.js.map, line 0)
[Error] Failed to load resource: the server responded with a status of 404 () (playground.dart.js.map, line 0)

[2021-10-03 21:32] devnoaman commented on #1566
please @RedBrogdon check them out .

[2021-10-04 07:32] srawlins opened #2027 "dart_service's test/flutter_analysis_server_test.dart is flaky"
We thought it started flaking in https://github.com/dart-lang/dart-services/commit/040821acf3782b07d00617e739ba4d0a57d0a561 but if you check out earlier commits, like https://github.com/dart-lang/dart-services/commit/ef2b4140333e4db17e3cf57054ab7fcd724127c7, you can still get a flake with `pub get ; pub run test test/flutter_analysis_server_test.dart`.

The only test case that seems to fail is "Fl

[2021-10-04 07:52] srawlins commented on #2027
I thought it might be the package version of `analyzer`, but even at analyzer 2.0.0, I can get the test to fail.

[2021-10-06 04:37] Abdullah-webdev opened #2028 "Light Theme Request."
Please add an option for a light color theme.

[2021-10-06 16:04] devoncarew commented on #1764
@RedBrogdon - should this be a P0? I don't know what that really means wrt an enhancement issue.

[2021-10-06 16:37] srawlins opened #2029 "Implement channel switcher in embed"
Replace embed's null safety checkbox with the channel switcher available on the playground.

[2021-10-06 16:51] parlough commented on #2029
I think a query parameter could be useful on the site-www end as well, in case we want to document an in-progress feature alongside an embedded DartPad.

[2021-10-06 17:28] johnpryan opened #2030 "SynchronousFuture behavior is different depending on the SDK"
The behavior of a SynchronousFuture is different dependeing on whether the Dart SDK or Flutter SDK is used. The Dart SDK  executes immediately, but the Flutter SDK does not:

- [SynchronousFuture with Flutter SDK](https://dartpad.dev/?null_safety=true&id=16106aca0b944adbfc7a051a8933c247)
- [Synchronous Future with Dart SDK](https://dartpad.dev/?null_safety=true&id=92153b06d7fceddb8e9dd4c58a1809fd)

[2021-10-06 18:32] Hixie commented on #2030
Another reason they might differ is that in the Flutter case we wrap main() in a bunch of Zone magic.

[2021-10-06 19:46] #2029 closed

[2021-10-06 21:26] RedBrogdon commented on #1764
I'm using p0 and p1 here as if they exist only for this project, rather than as things that need to be calibrated with other dart-lang repos.

Is there a reference for how levels are normally assigned team-wide? If so, I'll align this project with it.

[2021-10-06 21:28] #2028 closed

[2021-10-06 21:51] srawlins opened #2033 "firebase broken"
When running this gist: https://dartpad.dev/?null_safety=true&id=c21e00325f9269f0730a28df473f841c

we see in the JS console:

and the app does not run. ☹️

[2021-10-07 20:28] johnpryan commented on #2030
It looks like this only happens when a Flutter app is compiled to JS:

| Platform      | sync | async |
|---------------|------|-------|
| Web (Dart)    | X    |       |
| Web (Flutter) |      | X     |
| VM (Dart)     | X    |       |
| VM (Flutter)  | X    |       |

FYI @yjbanov

[2021-10-07 20:31] johnpryan commented on #2030
Update: this is only happening with DDC.

[2021-10-08 00:24] johnpryan opened #2034 "Add channel label to embeds"
We should visually indicate what channel is currently being used in the embeds (set by the `channel` query parameter.)

[2021-10-08 22:28] srawlins commented on #2033
The issue is that we now use `flutter packages get` to generate the `generated_plugin_registrant.dart` file, which contains `FirebaseFirestoreWeb.registerWith(registrar);` which I think expects the app to be initialize already.

Basically the plugin expects that you have configured the app in JS, _outside_ Dart, via the [documented steps](https://firebase.flutter.dev/docs/installation/web). Follow

[2021-10-08 22:30] srawlins commented on #2033
CC @puf

[2021-10-11 15:35] srawlins opened #2035 "Combine dart-pad and dart-services repos?"
I'd like to consider combining the dart-pad and dart-services repos.

I think these were separate repos before the mono-repo was a common concept (used in dart-lang/test, dart-lang/build, google/protobuf.dart, etc.), but I think it would be a valid layout for these two repos. We already combine the issue trackers into this one.

Benefits:

* Shared proto definitions
* Simple `grind` target which l

[2021-10-12 00:37] RedBrogdon commented on #1547
Interesting. For the first bit, this has definitely come up before. We'd have a bit of an issue changing it at this point, since so many of the pads we've created since the redesign was launched assume a dark background. Could we solve this by adding a color:white to the CSS that's included with new HTML pads? Right now it's there for `h1`, but no other tags:

[code]

For the second question (Andr

[2021-10-12 00:41] RedBrogdon commented on #2035
We've been talking about this since 2019. 😄

https://github.com/dart-lang/dart-pad/issues/1350

[2021-10-12 13:37] #2035 closed, assigned to nobody

[2021-10-12 17:08] srawlins opened #2036 "New channel mechanism for dart-services"
Since implementing the channel switcher, and adding package support, it appears that we need a new mechanism for maintaining (and deploying) the different channels.

I think this shouldn't be too hard, but I'm excited to be proven wrong 😂 :

1. Update [`flutter-sdk-version.yaml`](https://github.com/dart-lang/dart-services/blob/master/flutter-sdk-version.yaml) to list each version of Flutter in pla

[2021-10-12 18:30] RedBrogdon opened #2037 "Flutter plugins should not be importable in pure Dart code"
This code:

[code]

Will not produce analysis errors, but will fail to compile:

[code]

It's correct to fail, since url_launcher is a Flutter plugin that can't work without the Flutter SDK. It would be good to have an earlier warning produced by the analyzer, though.

**NOTE:** This is a definite edge case, since most devs would understand that url_launcher is a Flutter thing. In the long term, t

[2021-10-12 18:37] johnpryan opened #2038 "Can't launch dart.dev"
See [this gist](https://dartpad.dev/?id=b46c6e47b486b4fac359275d0556748a)

<details>
<summary>
Screenshot
</summary>

<img width="1177" alt="Screen Shot 2021-10-12 at 11 36 22 AM" src="https://user-images.githubusercontent.com/1145719/137010657-843c871f-2431-46ba-a476-c54656d3c075.png">
</details>

[2021-10-12 20:29] nshahan commented on #1547
Good observation! I didn't realize that some elements already set a readable color scheme. I tried a few more and it seems that other tags do appear white. All the headings I tried and paragraphs already have white text. Lists, tables, or generic divs don't. It would probably be easier to set the text color at the body and allow it to be inherited by as many tags as possible.

[2021-10-13 09:01] neail001 opened #2039 "Dart pad localStorage issue on chrome"
"DartPad requires localStorage to be enabled. For more information, visit dart.dev/tools/dartpad/troubleshoot."

I have cleared the cache and cookies, restarted no effect

Allowing 3rd party cookies currently solves, are there any other, secure way?

[2021-10-13 21:54] domesticmouse commented on #2036
I'd use specific version for `beta_version` and `dev_version` as well, as this enables me to have a PR to force a rebuild in Cloud Build when the versions change.

My preference, akin to null safety, is to have a run time flag to `dart-services` that tells it which SDK to use. This is the reason we have a null safe, and a null unsafe Docker file. So yes, we will need 4 docker files, such that we c

[2021-10-14 07:12] renntbenrennt opened #2040 "Error compiling to JavaScript: XMLHttpRequest error."
## What happened?

As stated in the title, compile failed.

## Steps to reproduce problem

I tried to run the example demo in this [article](https://medium.com/flutter/building-performant-flutter-widgets-3b2558aa08fa), which demonstrated in this [DartPad](https://dartpad.dev/?id=e41ed2678b9b9d7347880c20ec49f3f2&null_safety=true)

And it failed to compile... I even copy and paste the code to run it

[2021-10-14 08:54] domesticmouse opened #2041 "Dart Services throws when attempting asked to compile something already in cache"
Replication strategy, compile the same code twice. On the second compilation:

[code]

/cc @jonasfj as the original reporter

[2021-10-14 10:09] #2041 closed, assigned to domesticmouse

[2021-10-14 16:17] srawlins opened #2042 "Turn down pre-null safety option"
We intend to turn down the pre-null safety option. The Null Safe toggle will be removed; all code must be null safe, and we can turn down the pre-null safety back-end(s?).

[2021-10-14 18:15] RedBrogdon commented on #2042
When the channel switcher is launched, that'd be the moment. I don't anyone in the community will be surprised that we're going forward with null safe as the new normal, but it'll be nice to provide a new feature as we're sunsetting the old one.

[2021-10-14 18:45] RedBrogdon commented on #2037
This is an edge case, so I imagine the lowest-effort-but-still-clean approach is probably the best use of time.

Updating `getUnsupportedImports` so that it's smart enough to disallow Flutter plugins when no Flutter SDK packages are included is probably enough to correctly produce an error. The annoying bit is that @srawlins would need to maintain separate lists of "packages" and "plugins."

[2021-10-14 18:46] RedBrogdon commented on #2042
Twitter research has commenced: https://twitter.com/redbrogdon/status/1448715119907655685 😄

[2021-10-14 18:59] #2039 closed

[2021-10-15 17:54] #2038 closed, assigned to nobody

[2021-10-15 19:22] RedBrogdon commented on #2037
I'm always in favor of doing less work, so if this can be fixed in the SDK, that's great. 😄

[2021-10-15 23:34] darlissonlimeira opened #2043 "DartPad erros message and info messages"
### Describe the problem

![Screenshot_20211015-202625](https://user-images.githubusercontent.com/49912598/137564295-819e7c3f-7632-4a09-98fa-add6c621fbe5.png)

Need a hide/show button for mobile version, cuz it takes almost entire view. (Sorry if dont speak english very well, I m still learning)
 Ty

### Expected fix

_No response_

### Additional context

_No response_

[2021-10-18 18:59] #2043 closed, assigned to nobody

[2021-10-18 21:36] srawlins commented on #1912
OK this looks fixed. I can run the bandnames app over and over and no crash.

[2021-10-18 21:38] #1813 closed

[2021-10-18 22:03] #2040 closed, assigned to domesticmouse

[2021-10-18 22:19] domesticmouse commented on #1821
@RedBrogdon any reason we shouldn't move forward with deleting this instance? It's serving `Dart SDK 2.12.0-51.0.dev`

[2021-10-18 23:05] srawlins commented on #1946
Thanks @johnpryan

I found we may need the `allow-same-origin` policy on our iframes.

[2021-10-18 23:08] parlough commented on #1821
Definitely should switch to redirecting this to the main site I think(conserving query parameters). Almost all code running in 2.12 dev with null safety enabled should run fine on 2.14. The primary exception is code using VM only libraries which are not supported here anyway.

[2021-10-19 00:03] domesticmouse commented on #1821
@RedBrogdon what do you think of the additional scope to create an argument preserving redirector vs just turning this old service off?

[2021-10-19 03:55] SeasonLeee commented on #2040
why closed...

That dartpad is producing another kind of weird error now:
<img width="1792" alt="Screen Shot 2021-10-19 at 11 52 36 AM" src="https://user-images.githubusercontent.com/13610283/137841206-3c3f4493-a47b-4b62-bcd4-194bf66388a9.png">

As you can see in the screeshot, the code is not showing up anymore😅 wtf??

@RedBrogdon @domesticmouse

[2021-10-19 09:56] Raj-impetrosys opened #2046 "show output in dart pad, final variable is changing"
void main() {
final a = [1,2];
  a.add(3);
  a.removeAt(0);
  a[0] = 5;
  print(a);
}

[2021-10-19 18:40] #2046 closed, assigned to redbrogdon

[2021-10-19 22:35] domesticmouse commented on #1821
Steps:

- [ ] Remove `nullsafety.dartpad.dev` DNS record
- [ ] Turn off Null Safety front end (GAE project?)
- [ ] Turn off backend (Serving from dart-services-beta-0.appspot.com)

[2021-10-20 01:56] #2036 closed

[2021-10-20 02:52] domesticmouse opened #2047 "`FLUTTER_CHANNEL=dev grind deploy` is broken"
[code]

[2021-10-20 21:30] redbrogdon opened #2049 "AssetManifest warning"
This gist produces a warning about a missing asset manifest when it runs:

https://dartpad.dev/?id=493c8b3ef8931cbac3fbbe5c04b9c4cf

We've never had assets come up before, though we do have a fake "font manifest" file that our projects load. Do we need to create an empty asset manifest in the dart-pad project as well?

[2021-10-20 21:55] srawlins opened #2050 "Cannot import package:firebase_database"
Scripts which try to import package:firebase_database get an error:

CC @puf

[2021-10-20 22:19] #2050 closed, assigned to srawlins

[2021-10-21 22:51] srawlins opened #2051 "Firebase packages missing from directly importable package list"

[2021-10-22 01:50] domesticmouse opened #2052 "Flutter 2.7.0-3.0.pre breaks `grind deploy`"
See https://github.com/dart-lang/dart-services/pull/781 for the play by play

[2021-10-24 01:37] #2052 closed

[2021-10-25 11:04] #2051 closed, assigned to srawlins

[2021-10-25 15:27] #2049 closed, assigned to srawlins

[2021-10-28 03:31] #2047 closed, assigned to srawlins

[2021-10-28 16:59] timsneath opened #2055 "Transitive packages"
For packages that are transitive, can we include a one liner under the heading that says something like, "these are not available to be imported"? That would be a great explanation of the difference between the top and the bottom list...

[2021-11-01 04:36] ihoru opened #2056 "Sample minor improvement: "Click a disk" is clickable in "Implicit animation""
In the sample [Implicit animation](https://dartpad.dev/?null_safety=true&id=85e77d36533b16647bf9b6eb8c03296d) is written on screen "Click a disk", but this text is clickable as well. Shouldn't it be excluded from widget tree under the GestureDetector?

Here's a fix of this:
[code]

[2021-11-01 18:21] srawlins commented on #897
@domesticmouse this may be super outdated? Close as we have new tests?

[2021-11-01 21:34] RedBrogdon commented on #1821
Weird. It looks like I can shut it down whenever you'd like. The DartPad engineering alias is listed as an owner, though, you should also have full access.

[2021-11-01 23:33] RedBrogdon commented on #2055
@srawlins, what do you think? A little extra messaging on the popup of package version may save us a bunch of complaints from newer devs. 😄

[2021-11-01 23:38] RedBrogdon commented on #2056
You're right, that's a minor-but-legitimate improvement. Thanks for the suggestion.

Because the code for the samples is stored in gists in a dedicated GitHub account, it's not possible for me to ask you to submit a PR for this change, but I can make the change to the gist on your behalf as long as you've signed the Google Contributor License agreement.

Could you sign it at https://cla.developers

[2021-11-01 23:43] srawlins commented on #2055
Sounds good

[2021-11-02 00:39] natebosch commented on #2030
I'm surprised that we're able to subvert the asynchrony of `await` on any platform...

@lrhn - were you aware of this behavior?

[2021-11-02 01:34] domesticmouse commented on #1821
I've shutdown the `dart-services-beta-0.appspot.com` project. Does this also shutter the null safety front end?

[2021-11-02 03:26] ihoru commented on #2056
Done: "your CLA has been submitted"

[2021-11-02 11:30] lrhn commented on #2030
It's unsurprising that things break when you implement `Future` incorrectly. Since `await` is defined in terms of calling `then`, and `then` is specified as *not* calling the callback during the `then` call, weird things happen if you do so anyway. We don't (necessarily) add extra overhead to try to avoid implementations of `Future` which are broken.
We also don't try to keep our implementations b

[2021-11-02 21:08] srawlins opened #2062 "grind serve exits?"
In my dart-pad repo, `grind serve` (or `grind serve --debug`) now exit immediately after serving. 🤔

[2021-11-02 21:08] srawlins commented on #2062
@johnpryan have you experienced this?

[2021-11-03 00:55] johnpryan commented on #2062
No, not yet...

[2021-11-03 18:08] RedBrogdon commented on #2056
Thanks! I've updated the gist to match. DartPad aggressively caches gists, so if you've already got it loaded into the editor, you may need to hard-reload the page to verify the change. It's in there, though. 😄

[2021-11-03 18:08] #2056 closed

[2021-11-03 18:58] srawlins commented on #2062
I still can't get past this... my grinder version is 0.9.0. I'm playing with pub dependencies...

[2021-11-03 20:34] johnpryan commented on #2062
It's working for me with Dart 2.14.1

[2021-11-03 20:39] srawlins commented on #2062
Ah, I've figured it out. Something is already holding onto port 8000. Preparing a PR that prints stderr.

[2021-11-03 20:49] #2062 closed

[2021-11-03 21:23] johnpryan commented on #2030
Related to https://github.com/flutter/flutter/issues/82827

[2021-11-03 21:33] #2055 closed

[2021-11-03 21:38] johnpryan opened #2067 "Dropdown menu registers multiple click handlers"
We should investigate the root cause of https://github.com/dart-lang/dart-pad/pull/2061

[2021-11-03 22:26] srawlins opened #2068 "Support new FlutterFire "pure Dart" Firebase packages"
This is by and large blocked by https://github.com/FirebaseExtended/flutterfire/issues/3962.

We don't include a JS preamble with the app configuration, so we hit the above issue. Are there ways around this?

CC @puf, @RedBrogdon

[2021-11-03 22:27] srawlins commented on #2068
@puf it turns out I cannot put a dummy JS configuration in; it needs to have functional values. :(

[2021-11-03 22:57] puf commented on #2068
For allowing us to test, can you use the values from https://dartpad.dev/?null_safety=true&id=c21e00325f9269f0730a28df473f841c?

Firestore in that project is pretty well locked down with security rules anyway.

[2021-11-04 10:35] ihoru commented on #2056
Amazing! Thank you ;)

[2021-11-04 22:15] #1820 closed

[2021-11-05 21:31] RedBrogdon opened #2069 "CORS issue preventing use of url_launcher"
While some websites can be opened from DartPad with the url_launcher package, some fail to load and render correctly due to sandbox-related errors:

This gist can be used for testing: https://dartpad.dev/?id=d8469da92364a32613dabf9a52681080

Launching https://youtube.com/flutterdev results in this error:

[code]

And launching https://dart.dev gets these:

[code]

[2021-11-05 21:50] domesticmouse commented on #2069
I'd lean towards documenting the restriction over loosening the sandbox.

[2021-11-06 01:05] srawlins commented on #2069
Yeah I think the discussion in https://github.com/dart-lang/dart-pad/pull/2044 showed that putting the `allow-same-origin` sandbox property on the iframe would be too great a security gap. I'll have to consider other options but I am not confident there will be another solution.

We might be able to programatically set `allow-same-origin` depending on the user script, like based on `import dart:js

[2021-11-06 01:57] Salakar commented on #2068
Hey @srawlins, @puf - with the FlutterFire release that's just shipped this should no longer be blocked: web Dart implementation across all FlutterFire plugins has been refactored to lazy initialize and default Firebase App initialization from Dart is also now supported. Let me know if any other issues come up, thanks.

https://github.com/FirebaseExtended/flutterfire/blob/master/CHANGELOG.md#2021-

[2021-11-06 02:37] srawlins commented on #2068
Thanks so much! I'll try out the new packages ASAP

[2021-11-07 19:12] m0nac0 opened #2070 "Add support for `cross_file` plugin"
It would be great if the [cross_file plugin](https://pub.dev/packages/cross_file) could be added to the list of supported packages. Since it's an official plugin by the flutter team, it hopefully shouldn't raise security concerns.

[2021-11-07 20:40] domesticmouse commented on #2070
@m0nac0 I'm curious what your intended use case is for this package.

/cc @srawlins

[2021-11-08 09:18] rshash30 commented on #1554
You  Should run a VPN and it will work correctly

[2021-11-08 10:46] domesticmouse commented on #1554
Actually, these errors were due to unhappy servers. We have done a lot of work to improve the stability of the compilation service. Using VPN service probably wouldn't have helped in this instance.

Thanks!

[2021-11-08 12:47] m0nac0 commented on #2070
I'm experimenting with generating code for Flutter apps and found DartPad to be a very cool way to preview both the generated code and the resulting app. Since the code I'm generating should ultimately run on different platforms I chose the cross_file plugin for file operations.

I guess the bigger question here is, whether there are any formal criteria or a selection process for the packages gett

[2021-11-08 17:06] jpangburn commented on #310
I am new to Dart and was working my way through the language tour, and was doing some tests with String interpolation and assert.  Became suspicious that asserts weren't working and was disappointed to find that stuff that clearly should fail does not fail.

There are some comments above about who's using DartPad and what their priorities are.  As a new user (who came to Dart because of Flutter),

[2021-11-09 01:40] RedBrogdon commented on #2070
We still haven't stamped "finished" on package support, which is why the process hasn't been documented. Our current draft plan is to handle it the way most of Flutter prioritizes new features: people file an issue requesting a particular package, other people moderate it with thumb's up or thumb's down, and we use those as a primary input.

One thing I should add is that we're probably going to g

[2021-11-09 01:45] RedBrogdon opened #2072 "Long lines in console push close button offscreen"
Flutter code that prints an exceptionally long line to the console results will cause the "close" button for the console to be inaccessible when opened. You have to switch tabs to Documentation and then close from there.

This gist can reproduce, assuming you don't have a super-wide browser window:

https://dartpad.dev/df97dda49c6d5d061abe74cd5678a917

[2021-11-09 01:46] RedBrogdon commented on #2072
CC @johnpryan

[2021-11-09 04:48] srawlins commented on #1764
Woohoo! Calling this done. Please open new issues for any bugs.

[2021-11-09 04:48] #1764 closed

[2021-11-09 04:49] srawlins commented on #2068
Confirmed this is working great now!

[2021-11-09 04:49] #2068 closed

[2021-11-09 16:07] Erhannis opened #2103 "Potential for confusion between "main" and "solution" editors in embedded layout"
### Page URL

https://dart.dev/codelabs/dart-cheatsheet.html

### Page source

https://github.com/dart-lang/site-www/tree/master/src/codelabs/dart-cheatsheet.md

### Describe the problem

The embedded editors don't compile code - they give syntax errors, even for the provided solutions.  See screenshot:

![Failing compile](https://user-images.githubusercontent.com/3024589/140959839-1cb4ee75-630c-4

[2021-11-09 16:27] m0nac0 commented on #2070
Sounds good, thank you for the explanation!

[2021-11-10 01:07] RedBrogdon opened #2074 "Channel-specific backends need channel-specific pubspecs"
Right now the various dart-services endpoints are running different version of the Dart/Flutter SDK, but are all using the same pubspec, which means the newer channels aren't opted into new language features like constructor tearoffs.

We should figure out a way to have each endpoint use a channel-specific pubspec for its usercode project, allowing them to demonstrate new Dart features as they arr

[2021-11-10 02:02] srawlins commented on #2074
I've almost got this one completed. Will mail tonight.

[2021-11-10 05:30] srawlins commented on #2074
Oops, the Dart Language version is not what we want; you cannot set an SDK constraint of `>=2.15.0 <3.0.0` yet because... \*drumroll\* there is no 2.15.0.

What we want is enabled experiments...

[2021-11-10 05:59] domesticmouse commented on #2074
Can't we use Dart 2.15.0-0 or similar?

[2021-11-10 16:57] #2072 closed

[2021-11-10 18:32] fkromer opened #2075 "Add `flutter_map` to directly importable packages"
It would be great if one could `import 'package:flutter_map/flutter_map.dart';`. Right now

[2021-11-10 18:40] srawlins commented on #2074
This seems to work!

[2021-11-10 19:00] #2074 closed

[2021-11-10 20:16] paultallard opened #2076 "Ability to maximize code frame/window on phones (small screens)"
Issue:  Errors and warnings cover up code on smaller screens to the point where the code can no longer be accessed. See attached screenshot.  In this screenshot, a single squiggly bracket '{' obliterates the code making it hard to find and fix the issue. There is no code here so I believe it does not violate your contributing guidelines.

Proposal:  have a button of other mechanism to temporarily

[2021-11-11 21:36] #310 closed

[2021-11-12 00:24] domesticmouse commented on #2075
Is there a map tile provider with CORS headers?

Context: https://flutter.dev/docs/development/platform-integration/web-images

[2021-11-13 07:54] Anwar-Kabir opened #2078 "Uncaught Error: Unsupported operation: Result of truncating division is Infinity: 12 ~/ 0"
Uncaught Error: Unsupported operation: Result of truncating division is Infinity: 12 ~/ 0

![Capture](https://user-images.githubusercontent.com/19724239/141610809-b9094f07-8fc5-49b5-83fa-d404b7bc3f02.PNG)

this exception handling try on and try catch code working on VS code but not working on dart pad. why ?

[2021-11-15 00:05] hackertruth commented on #1615
whats the alternate solution in place of dart:io ??

[2021-11-15 00:14] domesticmouse commented on #1615
@hackertruth depends what you are attempting to do. The browser sandbox is a lo more restrictive than running native.

[2021-11-15 09:17] lulupointu opened #2079 "[Question] Pub packages white list process"
Hi,

I know you only just started supporting Pub packages, thanks for the amazing work ! In #901, you mentioned that you would be using a whitelist to support only specific packages import.

My questions is: **How can a package hope/ask to be on the whitelist?**

[2021-11-16 07:56] imaNNeoFighT opened #2082 "Add support for fl_chart package"
Hi.
In the [fl_chart](https://pub.dev/packages/fl_chart) package I see people are asking for a customized chart.

Currently, we use the Github gists with a commented image to demonstrate a customized chart sample ([like this](https://gist.github.com/imaNNeoFighT/d21e6ef74f49f5fae7b09ca3e186b238)).

It would be great if the dart-pad supports the `fl_chart` package.
Then we can refer users to a dart

[2021-11-16 10:26] hoc081098 commented on #901
please add [`rxdart`](https://pub.dev/packages/rxdart)

[2021-11-16 17:58] SakhileMamba opened #2083 "Dart Pad Theme to VS-Code and IntelliJ Themes"
Please kindly create official VS-code and IntelliJ themes similar to the one you use in Dartpad. Dartpad has an amazing theme and I think these will take off significantly.

[2021-11-17 22:37] srawlins commented on #2002
Both of these requests are now fulfilled.

[2021-11-17 22:37] #2002 closed

[2021-11-17 22:44] srawlins commented on #1638
I don't see any static analysis errors related to this any more. Re-open if you can point to anything specific.

[2021-11-17 22:44] #1638 closed

[2021-11-17 22:49] srawlins commented on #1389
package:lints and package:flutter_lints are now used by default! @chalin did you have a specific request for any other analysis option?

[2021-11-17 22:57] srawlins commented on #1207
dart-pad repo still has `web/main.py` and `build/main.py`??? CC @johnpryan

[2021-11-17 23:00] chalin commented on #1389
Woohoo! That's great! No, not that I can recall, thanks.

[2021-11-17 23:01] srawlins commented on #901
Launched. Quick turnaround on this one. 😀

[2021-11-17 23:01] #901 closed

[2021-11-17 23:01] johnpryan commented on #1207
`web/main.py` is the important one, `build/main.py` is copied from the `web/` directory when you run the build. (along with `app.yaml` and other files)

[2021-11-17 23:02] srawlins commented on #901
@hoc081098 please see https://github.com/dart-lang/dart-pad/wiki/Adding-support-for-a-new-package

[2021-11-17 23:02] #1389 closed

[2021-11-17 23:04] lulupointu commented on #2079
This process is now explained here: https://github.com/dart-lang/dart-pad/wiki/Adding-support-for-a-new-package

[2021-11-17 23:04] #2079 closed

[2021-11-18 00:46] johnpryan commented on #2083
I don't know if we'll have time to do this, but most of the colors are defined in this file: https://github.com/dart-lang/dart-pad/blob/master/lib/scss/colors.scss

[2021-11-18 02:49] hoc081098 opened #2087 "Add support for `rxdart` package"
Hi,
Could you add support for [`rxdart`](https://pub.dev/packages/rxdart) package? Since it is a Flutter Favorite package.
- 1504 LIKES
- 125/ 130 PUB POINTS
- 100% POPULARITY.

Thanks.

[2021-11-18 12:10] ImadBouirmane opened #2088 "DartPad it's gonna huge thing, for that I suggest this ultimate suggestions !"
Hello Dart & Flutter !
I really love waht are you doing and your huge success, so I'm happy to here with you.
I'm an absolute beginner but I do my to be in the line of this big progress of what can Dart do in the world of digital realtion with Flutter to Ui's interfaces technology innovation.
We have a big porject that I decide to be Dart & Flutter with Firebase and Google Cloud our main tools to

[2021-11-18 16:11] parlough commented on #2078
Hi @Munna-Rahman. This was a [previously noted issue](https://github.com/dart-lang/sdk/issues/46776) and resulted in `IntegerDivisionByZeroException` being deprecated in Dart 2.15 and slated for removal. If you need to catch this error, it seems `UnsupportedError` currently works on both platforms. Since the method does not document or require throwing that specific error though, perhaps using the

[2021-11-18 18:19] srawlins commented on #2088
Thanks for the feedback!

DartPad is really intended to just be a playground for Dart and Flutter. dartpad.dev is a great place to share snippets or try out an idea or play with syntax, and the code also supports embedded pads in documentation and articles, and workshops for education.

Beyond that, I think DartPad is not the right starting place for a Web-based IDE for Dart/Flutter/Firebase proje

[2021-11-18 18:20] srawlins opened #2089 "Support the `matcher` package"
It's already in the transitive deps.

The matcher package is not the full test API, but would allow people to play with test expectations in DartPad via `print(foo.matches(bar))`, etc.

[2021-11-19 09:36] pratik7span commented on #1753
Yeah, definitely.

[2021-11-20 01:19] SakhileMamba commented on #2083
@johnpryan  I really hope you will find the time. I'll also have a look at the file and see if I can figure it out on my own.

[2021-11-22 05:52] gohanSaki114 opened #2090 "can't run script .......on Microsoft edge"

[2021-11-22 23:18] domesticmouse commented on #2090
Operating system version, MS Edge version, code that wouldn't run. Please give us a reproduction case.

[2021-11-24 16:36] natebosch opened #2092 "Automatically create links for URLs in analyzer diagnostics"
Analyzer has at least one diagnostic message which includes a link. It's not possible to select this text to copy/paste. If we recognize URIs and turn them into links it would be easier to get more info.

![Screen Shot 2021-11-24 at 8 32 53 AM](https://user-images.githubusercontent.com/7528195/143278053-7ce20b44-d4bb-41b9-a472-ad6f099676b9.png)

[2021-11-27 04:23] lycstar opened #2093 "Where is the document, please. I want to know how dartpad displays the back-end results to the web page"
Thanks.

![image](https://user-images.githubusercontent.com/37872392/143667866-d13cecdd-69b7-4384-a349-5804c5f4910e.png)

[2021-11-30 00:22] domesticmouse commented on #2093
The backend is a Cloud Run hosted Dart compilation tool. See https://github.com/dart-lang/dart-services for more detail.

[2021-11-30 00:22] #2093 closed

[2021-11-30 12:37] CalidumCanis opened #2094 "Have option to put editor on top, and output on bottom."
When I am working split screen in dartpad it is very hard to see the code when the editor is so thin, so please add the option to switch orientation from horizontal to vertical also.
Something like the image below:
![dartpad](https://user-images.githubusercontent.com/74233464/144048484-131b4d07-62b5-4c66-97ad-6e9f70a0eb9b.png)
Thanks.

[2021-12-01 17:48] PhilicStream opened #2095 "Opening new pad even when canceled."
## What happened?

dart pad opens the pad even when canceled

## Steps to reproduce problem

click on new pad > click ok > select the type of pad which is not currently in use > select cancel

## Additional info

### Browser

Browser: Microsoft Edge

Version:  96.0.1054.41

Are you using any extensions/plugins that affect website behavior
(particularly those that affect iframes, such as ad blocker

[2021-12-02 04:37] Biplab-Dutta opened #2098 "Confusing error message displayed while trying to use constructor tear-off"
I was trying to playing around with constructor tear-off but the dart-pad gave me an error saying
[code]
Also, at dart-pad's bottom right, I can see `Based on Flutter 2.5.3 Dart SDK 2.14.4`

I think the error message should be
[code]

[2021-12-02 05:30] domesticmouse commented on #2098
Hey @srawlins, who should we chat to about minimum Dart version for constructor tear offs? IIUC, DartPad stable already has the minimum Dart version set to 2.14.0 in the generated `pubspec.yaml` file.

[2021-12-02 05:57] srawlins commented on #2098
That message is from an old version of Dart (2.14.3 or something). It has been corrected at HEAD.

[2021-12-02 06:10] domesticmouse commented on #2098
SGTM, closing this issue out.

[2021-12-02 06:10] #2098 closed

[2021-12-03 03:56] felangel opened #2099 "[bug] flutter_bloc sample is outdated"
## What happened?

The current Flutter Bloc sample is outdated and is not compatible with bloc v8.0.0. I left a [comment requesting to update the gist to align with the latest example](https://gist.github.com/flutterdevrelgists/fdd369962f4ff6700a83c8a540fd6c4c/#gistcomment-3982398).

## Steps to reproduce problem

1. Select Flutter Bloc from the Samples dropdown
2. Try to run the sample

[2021-12-03 21:08] #2095 closed

[2021-12-05 12:19] #1520 closed

[2021-12-06 05:01] kaashyapan opened #2101 "Support `petitparser` import on dartpad"
I think this package will be useful to a wide variety of people and use cases.

`import 'package:petitparser/petitparser.dart';`

One can test parsers in small installments on dartpad

[2021-12-07 23:30] srawlins commented on #1765
pre-null safe support has gone the way of the dinosaurs.

[2021-12-07 23:30] #1765 closed

[2021-12-07 23:31] srawlins commented on #774
Closing my own feature request 4 years later. 🚀

[2021-12-07 23:31] #774 closed

[2021-12-07 23:36] suragch commented on #1396
One reason that DartPad should target mobile devices is for people learning Dart and Flutter without a computer. That's actually quite a large number of people in poorer countries. I've recently started teaching Dart and Flutter in Mongolia and I was surprised at the number of students (CS majors!) who don't have their own computer or even adequate access to public computers. But they all have a p

[2021-12-09 16:37] garawaa opened #2104 "It's good that extended to cloud ide like flutlab.io"
New feature suggestion.

[2021-12-09 23:40] domesticmouse commented on #2104
DartPad isn't attempting to become a full Flutter IDE, it is more aimed at initial investigation and lightweight ideation. I have had success using [GitHub Codespaces](https://github.com/features/codespaces) as a Flutter development environment by installing the [Flutter VSCode extension](https://docs.flutter.dev/development/tools/vs-code) and [installing Flutter manually](https://docs.flutter.dev

[2021-12-10 07:16] rasmusmaagaard opened #2105 "Add support for the english_words package"
To be able to complete the [Write your first Flutter app](https://codelabs.developers.google.com/codelabs/first-flutter-app-pt1) tutorial from the flutter team, DartPad should support the [english_words](https://pub.dartlang.org/packages/english_words) package.

[2021-12-10 09:47] SeasonLeee commented on #2042
As currently the aforementioned channel switch feature is rolling out already, I see the toggle/switch to turn off the null safety is gone.

And this lead to an issue, I am trying to run some codes from some old posts, well, to test whatever they are saying in the post is working as expected, and since the code they wrote is pre-null-safety era, there are a lot of trouble to test it.

I think the

[2021-12-13 02:11] domesticmouse commented on #2042
There is significant complexity in the code, and RAM costs, for serving both Null Safety and Null Unsafe traffic, and just before turning off the toggle switch null unsafe was seeing about a twentieth of the traffic of null safe. There is always an engineering trade off in supporting features like this. The complexity in the codebase precludes taking on other features.

So, while we understand you

[2021-12-13 02:56] #2042 closed

[2021-12-13 10:00] Lootwig opened #2107 "Crash when using draggable"
Open https://dartpad.dev/909fcfbd3bb0df0102ed322236b3ce81 and try to drag the number in "from" into "to".

After messing up the formatting of the feedback Widget when losing the theme, dartpad seems to crash once you release the mouse. There are no errors in the console.

[2021-12-13 13:24] domesticmouse commented on #2107
Running locally with Flutter 2.8.0 targetting Chrome resulted in the following stack trace:

[code]

[2021-12-13 13:26] domesticmouse commented on #2107
Please raise this issue in the Flutter tracker at https://github.com/flutter/flutter/issues/new

[2021-12-13 13:36] Lootwig commented on #2107
@domesticmouse I'm getting strong [Curfew Pass A38](https://en.wiktionary.org/wiki/Passierschein_A38) vibes from this :)

already did, got sent here. https://github.com/flutter/flutter/issues/95133

[2021-12-13 22:04] Lootwig commented on #2107
Did you mean to post this in another issue? I get neither the "thanks" nor the "I hope not" part 🤔

[2021-12-14 01:38] chonghorizons opened #2108 "suggested-package: `equatable`"
For the `flutter_bloc` package, it'd be nice to have equatable to deal with rebuilds.

[2021-12-14 07:24] Arefganjaee opened #2109 "First proj"

[2021-12-14 23:21] domesticmouse commented on #2109
Please describe the issue you are facing

[2021-12-17 11:07] rahulbhai9 opened #2110 "Accessibility issue"
I am trying to use dartpad on my Android phone with screen reader (Android accessibility suite).
"More samples" menu is completely inaccessible and cannot be navigated using swiping gestures.

[2021-12-20 21:07] khyati82 opened #2111 "Remove dev channel support from DartPad"
This is mirror of bug  [#94974](https://github.com/flutter/flutter/issues/94974)
This issue is related to removing dev channel from Flutter builds. Remove dev channel from DartPad
The work for removing dev channel is tracked as part of this master issue - [#94962](https://github.com/flutter/flutter/issues/94962)

@domesticmouse - DartPad (the front end) has already removed dev as an option before

[2021-12-20 22:35] domesticmouse commented on #2111
@devoncarew where are we at on deciding if we want to expose the google3 version of flutter and dart on DartPad?

[2021-12-21 17:23] devoncarew commented on #2111
I think we should remove support for the dev channel from DartPad for now. If some future channel exists - which represents the bits that have successfully rolled into google3 - we could then consider supporting that channel. I don't expect that channel to exist in the near term, but have not been in recent conversations about it.

[2021-12-22 19:29] bpmckee opened #2112 "Accessibility support for keyboard-only users."
## What happened?

Dart-pad is not usable via keyboard only.  Once the text-editor gets focused, there's no way to escape the editor.

## Steps to reproduce problem

* Open any DartPad
* Tab to the code editor pane
* Try to move to a different pane or access anything else really.

## Additional info

I'm using DartPad to help teach accessibility to people.  Not having the course be accessible is a

[2021-12-23 00:31] PiN73 commented on #1871
Or just

[code]

run, click

Firefox:
[code]

Chrome:
[code]

[2021-12-23 19:08] johnpryan commented on #1871
The failures comes from the [`_parseWebDebugFrame` method](https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/foundation/stack_frame.dart#L114), which is trying to parse a stack frame containing the string `DartError@[...]`, which it wasn't designed to expect.

This is happening framework catches the exception and calls [`reportError`](https://api.flutter.dev/flutter/foundatio

[2021-12-24 13:50] codeilm opened #2113 "Weird behaviour on use of int & double data type"
[code]

[2021-12-26 01:41] parlough commented on #2113
Dart has some difference in number semantics and implementation across platforms, particularly on web where it has some larger differences to fit into the JavaScript model.

I recommend reading this section on [Types and type checking](https://dart.dev/guides/language/numbers#types-and-type-checking) from the Numbers in Dart article for a more detailed explanation. The whole article is a good read

[2021-12-26 04:51] codeilm commented on #2113
Ok, thanks.

On Sun, 26 Dec, 2021, 7:11 am Parker Lougheed, ***@***.***>
wrote:

[2021-12-27 18:03] eernstg commented on #2112
It would be great to have keyboard support for several additional actions, even for users who are not forced to use the keyboard (for instance, I've wanted a key combo for 'Format' many times, just because it would be convenient).

[2021-12-29 04:08] mmcdon20 opened #2122 "DartPad autocomplete doesn't always fit on screen."
### Describe the problem

The autocomplete menu doesn't always fit entirely on the screen making it difficult to read the available options.

This happens when the text for an autocomplete option is too long to fit within the available space.

### Expected fix

Update the autocomplete menu to fit on screen better.

### Additional context

As an example, if you enter the following code on DartPad:

[2021-12-29 08:26] 21600285-JaehyunPark opened #2114 "Remove hardcoded Firebase JS SDK imports"
## What happened?
We cannot use firebase because of the version of web/index.html even for dartpad sample named 'Dartpad Nanochat'

Here is error log
WARNING: FlutterFire for Web is explicitly tested against Firebase JS SDK version "8.10.0"
            but your currently specifying "8.6.1" by either the imported Firebase JS SDKs in your web/index.html
            file or by providing an override -

[2021-12-29 18:10] #2113 closed

[2021-12-29 18:12] codeilm commented on #2113
int and double behaves differently in Dartpad due to javascript behind the scene. So, when learning data types in deep, then just install the Dart SDK and practice locally on your machine.

[2021-12-29 22:22] parlough commented on #2112
I don't have a perfect solution for the main issue yet, but in case anyone reading this needs a temporary workaround you can use **Cmd + L** or (I think) **Ctrl + L** to return to the address bar. From there you can tab forward to get to the top menu or tab backwards to get to the bottom menus.

As for formatting @eernstg, you can access the keyboard shortcut menu through the bottom left keyboard

[2021-12-31 00:35] osaxma opened #2115 "Turning off null safety for an old gist"
## What happened?

I'm unable to turn off null-safety for an old DartPad:

https://dartpad.dev/?id=0fbdf1a3e4b0ffc6e1b433f0fd351cf0

The button for turning `null-safety` off is not there anymore.

I've tried modifying the URL to:
[code]
But that does not work.

I added `// @dart=2.9` at the top of the file which made the errors disappear but then I get the following error in the console:

[code]

[2021-12-31 03:16] mousedownmike opened #2116 "Add support for `mocktail` package"
Please add support for the [mocktail](https://pub.dev/packages/mocktail) package.

Having DartPad access would assist with creating interactive documentation for the project.

[2021-12-31 15:58] #2099 closed

[2022-01-01 04:04] garawaa opened #2117 "GOOGLE! DON'T RECOMMEND TOYS LIKE THIS UNLESS"
GOOGLE! DON'T RECOMMEND TOYS LIKE THIS UNLESS IT DOES NOT SUPPORT PUBSPEC.YAML AND ASSETS

[2022-01-01 23:29] domesticmouse commented on #2117
DartPad is not intended as a full app development environment. It is intended as an environment to help people experiment while getting started. Adding the capability to support any package, including code generation, as well as asset uploads, is problematic on both cost and security review fronts.

[2022-01-01 23:29] #2117 closed

[2022-01-02 04:04] domesticmouse commented on #2115
DartPad no longer supports non null safety. Please update sample as appropriate

[2022-01-02 14:28] osaxma commented on #2115
@domesticmouse The issue is that it's not only one gist/sample. As mentioned in the footnote, there are many StackOverflow questions/answers of mine and others that were written before null-safety and now they won't compile. At least previously the viewer can use the button to switch null safety off.

My complaint is that a lot of these questions/answers became useless since they won't compile (an

[2022-01-04 05:50] domesticmouse commented on #2115
/cc @RedBrogdon

[2022-01-04 12:06] eernstg commented on #2112
Ah, thanks! It never occurred to me that the keyboard emoji at the bottom left was clickable, nor that this would be the way to find the keyboard shortcuts! :smile:

[2022-01-05 21:54] #2078 closed

[2022-01-05 21:58] RedBrogdon commented on #2088
Thanks for your suggestions, @ImadBouirmane. Unfortunately I think a number of them are out of scope for the size of the team we have (while I'd love to more online IDEs featuring Flutter and Dart, we definitely aren't staffed to turn DartPad into one).

Some of your suggestions are likely to come to DartPad eventually, though, such as hot reload.

[2022-01-05 21:58] #2088 closed

[2022-01-05 21:58] #2090 closed

[2022-01-05 21:59] RedBrogdon commented on #2092
Good point. We should try to get this scheduled and done

[2022-01-05 22:00] #2104 closed

[2022-01-05 23:48] RedBrogdon commented on #2107
@Lootwig, thanks for filing an issue, and I'm sorry you've been getting pinged between repos. I just tried this in a regular Flutter project and was able to reproduce the same issue, though, so I don't believe it's a DartPad problem, but rather something in the 2.8.1 SDK.

I believe you're experiencing the same issue as https://github.com/flutter/flutter/issues/94906, which hasn't been fixed yet b

[2022-01-05 23:48] #2107 closed

[2022-01-05 23:49] #2109 closed

[2022-01-05 23:51] RedBrogdon commented on #2110
Thanks for filing an issue. DartPad is primarily intended to work in desktop browsers. We just haven't had the staffing to design UI for mobile devices.

That said, we're tracking Android-related issues in #876. I'm going to close this as a duplicate, but it'll be referenced from that issue.

[2022-01-05 23:51] #2110 closed

[2022-01-05 23:52] RedBrogdon commented on #2111
Dev channel has been removed in the latest deployment.

[2022-01-05 23:52] #2111 closed

[2022-01-05 23:53] RedBrogdon commented on #2112
We should find a way to address this, at least enough to help folks get out of being trapped in the editor.

[2022-01-05 23:56] RedBrogdon commented on #2122
IIRC, the autocompletes are done through CodeMirror's UI:

https://github.com/dart-lang/dart-pad/blob/master/lib/editing/editor_codemirror.dart

That could make it difficult to adjust the HTML/CSS, unless CodeMirror offers a means to do it through their API. We might have to manually truncate strings before handing them over.

Either way, this is something that's legit annoying and should get fixe

[2022-01-05 23:59] RedBrogdon commented on #2114
Thanks for filing a issue, @21600285-JaehyunPark.

I'm able to use the Nanochat snippet in the current release of DartPad, so it doesn't look like this is a blocking issue for execution. The warning is definitely there in the console, though, which is a problem.

@srawlins, we talked today about removing the hardcoded SDK imports entirely, so I'm going to repurpose this issue for that work. Doing

[2022-01-06 00:15] RedBrogdon commented on #2115
@osaxma, you raise a fair point, and when making the decision about how to handle null safety going forward, we definitely considered the work that devs had put into the existing set of DartPad gists that had been created. That's the reason we originally added null safety as an option, rather than simply switching to it by default at the launch of Flutter 2.

In the time since that launch, though,

[2022-01-06 00:15] #2115 closed

[2022-01-06 02:04] Wdestroier opened #2123 "Dartpad freezing after a few seconds when editing a big file"
## What happened?

For some reason Dartpad is freezing after a few seconds when
editing a file, possibly because it contains a very long string.
Video: https://streamable.com/f3tu7y

## Steps to reproduce problem

1. Open https://dartpad.dev
2. Paste this code: https://pastebin.com/raw/1mMf2LPE
3. Wait, move the cursor around or delete some spaces and
    the page will freeze.

## Additional info

[2022-01-06 02:44] domesticmouse commented on #2123
Heh, you crashed the syntax highlighter. If you feed it sane Dart code, DartPad works.

[code]

[2022-01-06 02:44] #2123 closed

[2022-01-06 03:37] Wdestroier commented on #2123
Haha, I didn't know that this was an expected behavior.
I put everything on the same line, because I wasn't going
to use this function and didn't want to delete it. At least
now I know how to solve the problem if it happens again.
Thanks, Brett!

[2022-01-06 06:27] mmcdon20 commented on #2122
@RedBrogdon from inspecting the elements in the browser, it looks like the relevant css classes are `.CodeMirror-hints` for the completion menu, and `.CodeMirror-hint` for each item within the menu.

I inserted the following css into chrome devtools, and the behavior was a lot more reasonable:

[code]

With the above css, I got these results:

![dart-pad-css](https://user-images.githubusercontent.

[2022-01-06 10:17] domesticmouse commented on #2123
The key problem was that you had used single quotes which are only useful for a single line string. That meant that the syntaxx highlighter was attempting to parse your assembler as Dart, and got seriously confused. The triple quote is the way to mark up multi-line strings.

[2022-01-07 06:00] mafreud opened #2127 "dart-services, Route not found"
Hi!
I have deployed dart-services to cloud run (port 8082), but it shows Route not found.
The same message is displayed in all the following URLs.
Does anyone have a solution?

- https://dart-services-test-aqoi5bfw7a-uc.a.run.app/
- https://dart-services-test-aqoi5bfw7a-uc.a.run.app/api/
- https://dart-services-test-aqoi5bfw7a-uc.a.run.app/api/dartservices/
- https://dart-services-test-aqoi5bfw7a-

[2022-01-07 06:13] domesticmouse commented on #2127
You'll see the same thing on https://stable.api.dartpad.dev/

Have a look at https://github.com/dart-lang/dart-services/tree/master/example for a sample web app that talks to `dart-services`

[2022-01-07 06:13] #2127 closed

[2022-01-07 06:14] mafreud commented on #2127
@domesticmouse Thank you fr your quick reply!
I will check it out 😄

[2022-01-07 06:17] mafreud commented on #2127
@domesticmouse
If I remember correctly, I think I could open [index.html](https://github.com/dart-lang/dart-services/blob/master/example/web/index.html), could you tell me how to access it?

[2022-01-07 15:00] srawlins commented on #1712
Is there some priority here? I wasn't planning on fixing these any time soon.

[2022-01-07 20:51] domesticmouse commented on #1712
Nope, it's just tech debt.

[2022-01-07 21:44] johnpryan opened #2129 "Solution button appears when no solution exists"
The solution button should be initialized based off of the initial workshop state, otherwise it will appear even though the first step doesn't have a solution

[2022-01-08 00:37] RedBrogdon opened #2131 "Repurpose dev endpoint as a staging environment"
We've used one-off staging deployments for a while as a means to test new features. With the addition of package support, though, we'll need a staging environment that's longer-lived and more easily accessed so that multiple people can test whether certain packages/plugins truly work and then write sample gists for them.

The current plan is to repurpose the dev channel endpoint, which is no longe

[2022-01-08 10:32] mmcdon20 commented on #2112
Related issue to this, on windows the keyboard shortcut for format is `Shift+Ctrl+F`.

![keyboard-shortcuts](https://user-images.githubusercontent.com/5104543/148640782-2af66514-4bcd-4175-85a7-0582cbdd5fa9.png)

But when you enter the command this pops up.

![code-mirror-search-label](https://user-images.githubusercontent.com/5104543/148640829-68a4bcaf-1687-4720-b988-1f046e744237.png)

It appears

[2022-01-10 17:06] #2129 closed

[2022-01-11 01:48] srawlins commented on #1926
I've forgotten what this original request is.

What information?

[2022-01-12 00:52] srawlins commented on #2114
@puf, this auth app is still supported, right? https://dartpad.dev/a9c35a33b36cebee7872f74f324f25cc

When I strip out the firebase JS scripts, I get an error running this app:

[code]

[2022-01-12 22:44] puf commented on #2114
Oh yeah, the Dart code should still work. Most likely you're still on a
FlutterFire version that requires us (well: you) to inject the JS into the
iframe. Invertase has added that dynamic injection to FlutterFire after we
added Firebase support to Dartpad, but I'm not entirely sure in which
version.

On Tue, Jan 11, 2022 at 4:52 PM Sam Rawlins ***@***.***>
wrote:

[2022-01-13 01:49] domesticmouse opened #2133 "Flutter 2.10 beta is breaking `dart-services`"
Attempting to move [Dart Services to Flutter 2.10 beta](https://github.com/dart-lang/dart-services/pull/814) breaks. From the [CI log](https://github.com/dart-lang/dart-services/runs/4797256993?check_suite_focus=true#step:9:793):

[code]

[2022-01-13 01:49] domesticmouse commented on #2133
/cc @devoncarew

[2022-01-14 02:13] domesticmouse commented on #2133
@srawlins is there something we should be running in the project template to generate the plugin registrant file?

[2022-01-14 03:41] srawlins commented on #2133
`flutter packages get` is the command that generates that file. :/

[2022-01-16 09:50] flutternoob commented on #1968
Code completion is still not working on mobile devices. Could you please tell me when it will be resolved? Thanks

[2022-01-17 14:17] CalidumCanis commented on #1665
Maybe add a bit of a gap before the first line of code?

[2022-01-17 14:33] CalidumCanis commented on #1665
Another idea is to add the run button down, and leave some gap after the code:

![image](https://user-images.githubusercontent.com/74233464/149788625-0f047010-30c4-44bd-a58c-d954840961c7.png)

[2022-01-17 15:45] PeperMarkreel commented on #2115
I am saddened as well that I can't switch to disable null safety. Indeed, a lot of examples are not updated to null safety and it isn't trivial to update the example (for me at least). I understand you have to make choices in where to spend development time, but is it possible to publish the old version of dartpad somewhere where the disable null safety switch still exists? Under a "not maintained

[2022-01-18 18:20] #2025 closed

[2022-01-19 21:25] domesticmouse opened #2141 "Nanochat sample breaks if Sunflower sample is viewed beforehand."
From the Chrome developer console:

[code]

To reproduce, visit https://dartpad.dev/?channel=beta&id=d57c6c898dabb8c6fb41018588b8cf73

[2022-01-19 21:25] domesticmouse commented on #2141
FYI @RedBrogdon @puf

[2022-01-19 21:43] parlough commented on #2141
Do you mean Flutter 2.10?

[2022-01-19 21:56] parlough commented on #2141
It seems this is an issue on the stable channel as well. It works fine if you directly load into the Nanochat sample, but if you start from another sample like [Sunflower](https://dartpad.dev/?id=5c0e154dd50af4a9ac856908061291bc) and manually switch to Nanochat in the upper right then you get the error.

[2022-01-19 22:09] domesticmouse commented on #2141
It appears that running sunflower first is the issue, not Flutter 2.10 beta. Ick.

[2022-01-19 22:41] domesticmouse commented on #2133
re-opening for tracking the broken tests, no longer a blocker however

[2022-01-19 22:47] srawlins opened #2142 "Request for package: `animations`"
animations animations animations!

[2022-01-20 01:50] Junduck15 opened #2143 "Firebase does not connect in Dartpad!"
Hi I'd like to report an issue in dartpad. I'm trying to connect to my firebase with firebase config (just like nanochat).
It connects to firebase intermittently but most of the time, it fails to connect.

Is there anyone who knows how to solve this issue?

Thank you.

[2022-01-20 02:01] domesticmouse commented on #2143
Possibly related: https://github.com/dart-lang/dart-pad/issues/2141

[2022-01-20 21:28] jmagman opened #2144 "Update cupertino_icons font ttf version available in DartPad"
## What happened?

`cupertino_icons` package available in DartPad does not include icons after 1.0 (released September 2020).

## Steps to reproduce problem

https://dartpad.dev/?id=cf862008860e18135d5011e58dfaf49f

You can see the heart and the bell icons show up, but the umbrella doesn't because it became available in `cupertino_icons` 1.0.
![Screen Shot 2022-01-20 at 1 26 49 PM](https://user-im

[2022-01-20 21:33] jmagman commented on #2144
Ah, maybe there is no package versioning, it's just directly using the `CupertinoIcons.ttf`? https://github.com/dart-lang/dart-pad/blob/7501f64ab950eb7f68a31aee7415ab5fb1ea6ffd/web/app.yaml#L29-L33

https://github.com/flutter/packages/blob/master/third_party/packages/cupertino_icons/assets/CupertinoIcons.ttf

[2022-01-21 00:30] #2144 closed

[2022-01-21 08:52] #2133 closed

[2022-01-21 11:03] domesticmouse opened #2147 "Flutter 2.10 beta triggers lint warning in Sunflower sample"
[Repro case](https://dartpad.dev/?channel=beta&id=5c0e154dd50af4a9ac856908061291bc)

<img width="1099" alt="Screen Shot 2022-01-21 at 8 59 12 pm" src="https://user-images.githubusercontent.com/30503/150516223-d481cf9c-3d99-4fe2-83ba-1523a1b242df.png">

[2022-01-24 01:50] domesticmouse opened #2148 "Automate the process of updating the Flutter assets directory"
See https://github.com/dart-lang/dart-pad/pull/2146 for an indication of what needs to be updated on each stable release

[2022-01-25 18:39] johnpryan opened #2149 "Multiple files"
If a Gist contains multiple`.dart` files, display them in the UI and include them when dart-services compiles JS. Show tabs at the top, similar to the tabs used in [Svelte REPL](https://svelte.dev/repl/hello-world).

## Example

**main.dart**
[code]

**library.dart**
[code]

### Related issues
- https://github.com/dart-lang/dart-pad/issues/1654
- https://github.com/dart-lang/dart-pad/issues/1290
-

[2022-01-25 18:53] johnpryan opened #2150 "Show the UI Output tab when the run button is pressed"
In the Workshop UI, we should show the UI Output tab when the run button is pressed. We could also consider starting with the panel open.

[2022-01-25 18:58] johnpryan opened #2151 "Show the current step in URL"
In the workshop UI, add a query parameter for the current step. For example, `step=3` would show step 3.

[2022-01-25 19:00] johnpryan opened #2152 "Add a dropdown for steps"
Add a dropdown to jump to a specific step in the workshop.

[2022-01-25 19:08] johnpryan opened #2153 "Add UI for notes, warnings, and tips"
Workshops often need to tell the user to take an action:

<img width="508" alt="Screen Shot 2022-01-25 at 11 07 11 AM" src="https://user-images.githubusercontent.com/1145719/151042615-ff032917-ab7b-449d-8c66-023d7cc94906.png">

It could be helpful to add some special syntax for this:

<img width="446" alt="Screen Shot 2022-01-25 at 11 06 44 AM" src="https://user-images.githubusercontent.com/114571

[2022-01-25 19:17] johnpryan opened #2154 "Workshop readability improvements"
- h1 and h2 have same font size
- Syntax highlighting doesn't highlight classes
- Distinction between code blocks and normal text.

[2022-01-25 19:26] johnpryan opened #2155 "Encourage formatting"
Flutter snippets are more understandable when formatted. We should encourage workshop users to format code, especially if they are copy/pasting.

Some ideas:
- Highlight the Format button if the user runs unformatted code
- Auto format on paste?
- Add a help screen for the UI and introduce dartfmt there?

[2022-01-26 22:17] RedBrogdon commented on #2143
@Junduck15, thanks for trying out Firebase and for filing an issue! Do you mind providing us with a little more info?

Can you share the code that you were using when you saw the issue (feel free to leave any Firebase keys/IDs out, of course).

Also, what browser/OS versions are you using?

Were there any errors in the browser's JS console?

[2022-01-26 22:20] RedBrogdon commented on #2147
Source gist has been fixed.

[2022-01-26 22:20] #2147 closed

[2022-01-27 05:12] Junduck15 commented on #2143
https://dartpad.dev/?id=fa1c7e783adf9f7f9961bc0d6bd7e762

This is the code that we tried. It is saved as gist file.

It works sometimes with the same code.

Thank you!

On Thu, Jan 27, 2022 at 7:17 AM Andrew Brogdon ***@***.***>
wrote:

--
asdf

[2022-01-27 05:13] Junduck15 commented on #2143
Also, I am using Mac OS Big Sur (11.5.1)

On Thu, Jan 27, 2022 at 2:12 PM 박준석 ***@***.***> wrote:

--
asdf

[2022-01-27 18:30] johnpryan opened #2157 "Don't expose filesystem of the machine that deploys dart-services"
The JS console reveals filesystem details:

[code]

See https://github.com/dart-lang/dart-pad/issues/1966 for steps to reproduce

[2022-01-27 23:04] domesticmouse commented on #2157
@srawlins Any ideas on if this is even possible?

[2022-01-29 00:23] #2141 closed

[2022-01-31 02:14] domesticmouse commented on #2070
I'm curious what use case you have in mind for the `cross_file` plugin. Looking at the description of the plugin, I can't see how this would be useful inside the DartPad environment. Halp?

[2022-02-01 17:54] johnpryan opened #2158 "Allow lints to be customized"
Certain lints like `prefer_const_constructors` might not be desirable for codelabs aimed at beginners. See [this discussion](https://github.com/flutter/codelabs/pull/272#discussion_r793939016) for more context.

It would be great if authors could include an `analysis_options.yaml` file in their Gist or workshop, rather than using `// ignore_for_file:` syntax.

[2022-02-01 21:24] domesticmouse commented on #2158
Given that customised lints would require stopping and re-starting the analysis server, this change would balloon the required number of servers by the number of seconds the restart takes (we usually serve most requests in under a second).

I suspect this will fall into the DartPad isn't an IDE bucket.

[2022-02-02 19:50] mmcdon20 commented on #2122
This was resolved with #2128. Closing this issue.

[2022-02-02 19:50] #2122 closed

[2022-02-02 22:45] srawlins commented on #2157
When compiling DDC on the dev's workstation, we could first `cd` to a temp directory with a known suffix (say `_foo/`), then remove that text from errors (`s#file:///.*_foo/##`).

[2022-02-02 22:47] johnpryan opened #2159 "Add ?channel=dev support"

[2022-02-02 23:51] domesticmouse commented on #2131
Bug for step 2: https://github.com/dart-lang/dart-pad/issues/2159

[2022-02-03 01:05] hanmo2000110 opened #2160 "Question for hosting dart pad on the dynamic web"
I want to host the **dart-pad** on the dynamic web.
So, I hosted custom dart pad and dart service by firebase Hosting and Google Cloud Run.
Is this the right way?

[2022-02-03 01:12] domesticmouse commented on #2160
I'm curious what the dynamic web is...

[2022-02-03 01:30] hanmo2000110 commented on #2160
It means that the web contents can be changed.

[2022-02-03 02:26] hanmo2000110 commented on #2160
sorry for my bad explanation.
I wanted to ask about firebase hosting and network

1. I saw that firebase hosting supports dynamic contents by Cloud Function and Cloud Run. but our custom dart-pad works dynamically without them. So, I did some research about dart-pad. And I concluded that the dart files are converted to Js file when we build a dart-pad web and deploy it. and Js files are worked dyn

[2022-02-03 03:47] domesticmouse commented on #2160
DartPad is a two part system. [DartPad](https://github.com/dart-lang/dart-pad) is a website written in Dart and compiled to JavaScript, which makes API calls to [dart-services](https://github.com/dart-lang/dart-services) which is a CloudRun hosted Dart compiler API. The `dart-services` API is responsible for taking Dart code and either running the Analyzer over it, or alternatively, compiling the

[2022-02-03 03:48] #2160 closed

[2022-02-03 19:28] jmagman commented on #2144
Looks like this deployed, newer Cupertino icons (umbrella) now showing up https://dartpad.dev/?id=cf862008860e18135d5011e58dfaf49f

[2022-02-04 00:45] #2154 closed

[2022-02-08 20:00] rajkananirk commented on #1391
here the deep guide to you https://laratuto.com/how-to-remove-debug-banner-in-flutter/

[2022-02-09 00:30] domesticmouse commented on #1391
@RedBrogdon I'm guessing we would need to patch the Flutter SDK before compiling the JS bundles as part of the build process. Does that sound right?

[2022-02-09 02:06] LNFWebsite commented on #1296
DartPad still isn't working on Edge Version 98.0.1108.43 (Official build) (64-bit)

[2022-02-09 06:48] hanmo2000110 opened #2164 "what is the best way to host custom dart pad"
we are trying to embed dart-pad in our flutter website.
we hosted dart-pad using firebase hosting. and dart-service by Cloud Run of GCP.
we created save button in our dart-pad. when user clicks it, user's code is saved in Github by using Github REST API.
we use cloud run to add more custom packages in dart-services.

my questions are
- Is there anything unnecessary in the above process?
- Is there

[2022-02-10 05:46] Rohitkumar132 opened #2165 "Error to compile Javascript"
I  am using chrome latest version while is write some code on dartpad.dartlang.org and when i run that code a pop up alert come with Error to compile with Javascript

[2022-02-10 05:50] parlough commented on #2165
Would it be possible for you to include the code snippet or a gist of your code?

[2022-02-10 12:20] domesticmouse commented on #1296
I've just confirmed that DartPad's Dart and Flutter hello world equivalents work on Edge running on macOS.

<img width="863" alt="Screen Shot 2022-02-10 at 10 16 11 pm" src="https://user-images.githubusercontent.com/30503/153407117-64748369-c5c9-4fe9-b9e6-1e1097dc1cc9.png">

Can you please open a new issue with reproduction details, including operating system version and sample code that is failin

[2022-02-12 10:10] repo-2017 commented on #1260
Light theme is a must, this should be the default as dark themes can seriously damage your vision !

[2022-02-12 10:11] repo-2017 opened #2166 "WE NEED A LIGHT THEME !!!"
## What happened?

## Steps to reproduce problem

## Additional info

### Browser

Browser:

Version:

Are you using any extensions/plugins that affect website behavior
(particularly those that affect iframes, such as ad blockers)?

Are there any warnings or errors in your browser's JavaScript console?
If so, paste them below:

[code]

### Machine

Operating system:

Version:

### Your code

What

[2022-02-12 10:12] repo-2017 commented on #2166
I open a dartpad and light theme is not the default state - that's a serious defect, making it unusable.

[2022-02-12 10:13] repo-2017 opened #2167 "Again : add a LIGHT theme !"
How crazy it is to skip on the light theme support ...

[2022-02-12 10:39] jabbalaci commented on #1260
This issue was opened 2.5 years ago. Is adding light theme support really that difficult?

[2022-02-14 23:22] parlough commented on #2166
Thanks for the feature request @repo-2017!

For embedded DartPad iframes, it is possible to switch between light and dark themes [through query parameters](https://github.com/dart-lang/dart-pad/wiki/Embedding-Guide#query-parameters). This feature has not yet been implemented for the main DartPad playground though.

This feature request is currently being tracked at https://github.com/dart-lang/dar

[2022-02-14 23:22] #2166 closed

[2022-02-14 23:22] parlough commented on #2167
Thanks for the feature request @repo-2017! As I mentioned in the other issue:

For embedded DartPad iframes, it is possible to switch between light and dark themes [through query parameters](https://github.com/dart-lang/dart-pad/wiki/Embedding-Guide#query-parameters). This feature has not yet been implemented for the main DartPad playground though.

This feature request is currently being tracked

[2022-02-14 23:22] #2167 closed

[2022-02-16 04:54] jacksontan88 commented on #1615
whats the alternate solution in place of dart:io ??

[2022-02-16 04:56] domesticmouse commented on #1615
See https://github.com/dart-lang/dart-pad/issues/1615#issuecomment-968398332

[2022-02-16 19:43] ultraamateur opened #2169 "saving works"
Hi, is there a way that i can save my works on dartpad (that i couldnt recognize ) ? Otherwise it would be nice to be able to save my works with a name for checking in the future. (i dont mean to share with someone on git, just saving small code snippets with meaningful names to see them later)

[2022-02-16 22:24] RedBrogdon commented on #2169
DartPad doesn't offer any sort of storage option built into the site. We've done this by design to keep the architecture, security, and privacy concerns manageable.

You can use GitHub to create a Gist, though, which DartPad knows how to load: [https://github.com/dart-lang/dart-pad/wiki/Sharing-Guide](https://github.com/dart-lang/dart-pad/wiki/Sharing-Guide).

We're also tracking a feature request

[2022-02-16 22:24] #2169 closed

[2022-02-16 22:55] johnpryan opened #2170 "Add support for `package:go_router`"

[2022-02-17 00:30] RedBrogdon commented on #2170
Assigning this to Brett so he can get it into the staging backend.

[2022-02-17 00:31] RedBrogdon commented on #2105
Assigning this to Brett so he can get it into the staging backend.

[2022-02-17 00:31] RedBrogdon commented on #2087
Assigning this to Brett so he can get it into the staging backend.

[2022-02-17 04:38] domesticmouse commented on #2105
`english_words` is already included in the `dev` branch.

[2022-02-17 04:39] domesticmouse commented on #2087
Added to `dev` in https://github.com/dart-lang/dart-services/pull/827

[2022-02-17 04:39] domesticmouse commented on #2170
Added to `dev` in https://github.com/dart-lang/dart-services/pull/827

[2022-02-19 22:05] RedBrogdon opened #2171 "Support for `dart:web_gl`"
I cannot remember if we've discussed this particular library or not over the last few months, but I got a question from @slightfoot about whether we could support `dart:web_gl`. He's been doing some incredible 3D demos of late, so it'd be cool if we could host them here.

[2022-02-20 04:07] domesticmouse commented on #2171
The `dart:web_gl` package is allowed by the import filters: https://github.com/dart-lang/dart-services/blob/master/lib/src/project.dart#L145

Does someone have a small `web_gl` sample that works on the desktop? My google searches keep turning up code from Dart 1 days...

[2022-02-20 18:39] slightfoot commented on #2171
@RedBrogdon @domesticmouse Created a gist sample and it actually runs if you press the RUN button. But it shows lots of syntax errors in the dartpad editor and says it can't import it. So perhaps this is an issue on the front-end / analysis server.

https://dartpad.dev/?id=4a2c9f33ea9668770d1cbbf8cedcb473

[2022-02-20 23:50] domesticmouse commented on #2171
@srawlins do we need to reconfigure the analysis server?

[2022-02-21 03:46] parlough commented on #2171
I haven't had a chance to look at the dart-services logic yet, but:

It seems most of the web libraries besides `dart:html``dart:js`, and `dart:js_util` are not supported. I don't know much about it but I believe the Flutter SDK might only bundle/expose those though. So the analysis server might be using that SDK source as the base instead of Dart?

[2022-02-21 17:08] sibhatmeq opened #2172 "dartpad output error"
## What happened?

## Steps to reproduce problem

## Additional info

### Browser

Browser:

Version:

Are you using any extensions/plugins that affect website behavior
(particularly those that affect iframes, such as ad blockers)?

Are there any warnings or errors in your browser's JavaScript console?
If so, paste them below:

[code]

### Machine

Operating system:

Version:

### Your code

What

[2022-02-21 17:30] parlough commented on #2172
Hi @sibhatmeq, thanks for opening an issue. It looks like your list includes `'katie'` with a lower case “k” while your `indexOf` checks for `'Katie'` with an uppercase “K”.

If you update them to match then you should get the expected result of 2. Let me know if that doesn’t make sense or you have any other issues. Thanks again!

[2022-02-21 17:30] #2172 closed

[2022-02-21 23:09] parlough commented on #2114
Thanks again for filing an issue!

With https://github.com/dart-lang/dart-pad/pull/2156 dart-pad no longer manually adds/hardcodes the Firebase JS inclusions and I've verified the sample still works.

[2022-02-21 23:09] #2114 closed

[2022-02-21 23:45] parlough commented on #1799
Thanks again for filing the issue and the extra information.

These all seem to be working now on Chrome, Safari, and Firefox. It seems Flutter Web automatically installs Noto now as a   fallback. I see "Noto+Color+Emoji+Compat" downloaded in the network tab from the compiled Flutter app.

If you have further issues, feel free to respond here or open a new issue. Thanks!

[2022-02-21 23:45] #1799 closed

[2022-02-22 09:57] PavelPZ opened #2174 "Add support for `riverpod_navigator`"

[2022-02-22 10:01] PavelPZ opened #2175 "Add support for `json_annotation`"

[2022-02-22 10:01] PavelPZ opened #2176 "Add support for `tuple`"

[2022-02-22 12:14] sibhatmeq commented on #2172
hii parker lougheed, it is not upper case and lower case issue i have been
tried today the i got the same result -1

On Mon, Feb 21, 2022 at 8:30 PM Parker Lougheed ***@***.***>
wrote:

[2022-02-22 17:27] parlough commented on #2172
Are you able to send your updated code?

I tried to create a minimal example where both the list and the indexOf contain `'Katie'` with an uppercase "K" and it seems to be working as expected:

<img width="535" alt="image" src="https://user-images.githubusercontent.com/18372958/155185661-3e24d10a-cfea-4170-82d8-33cfd7b7750a.png">

[2022-02-22 20:43] richzeal opened #2177 "Chrome"

[2022-02-22 21:13] srawlins commented on #2171
Curious, it looks as though we should already:

https://github.com/dart-lang/dart-services/blob/061e9b4e1422b17592f71966bb2416ed24f2aac3/lib/src/project.dart#L145

[2022-02-22 21:29] parlough commented on #2177
Hi @richzeal, thanks for filing an issue.

Do you have any more information you could provide about the issue you are facing?

[2022-02-22 23:55] richzeal commented on #2177
I followed the tips on the site and they worked. Thanks a bunch

On Tue, Feb 22, 2022, 10:29 PM Parker Lougheed ***@***.***>
wrote:

[2022-02-23 00:26] parlough commented on #2177
Great to hear, thanks! Let us know if you have any other issues :)

[2022-02-23 00:26] #2177 closed

[2022-02-25 23:05] #1897 closed

[2022-02-26 06:23] ZubairDastan opened #2179 "Add support for `html` package"

[2022-02-26 06:25] ZubairDastan commented on #2176
Unsupported import(s): (package:html/parser.dart)

[2022-02-26 06:25] ZubairDastan commented on #2179
Unsupported import(s): (package:html/parser.dart)

[2022-02-26 06:44] domesticmouse commented on #2179
Just to confirm, you are referring to https://pub.dev/packages/html correct?

[2022-02-26 06:45] domesticmouse commented on #2176
Confirming https://pub.dev/packages/tuple?

[2022-02-26 06:50] ZubairDastan commented on #2179
Yes

[2022-02-26 10:16] parlough commented on #2171
I'm updating this to p1 as this is a bug with the previously supported functionality of proper analysis around core SDK libraries.

[2022-02-26 11:23] parlough commented on #2171
From an initial investigation, the Dart project analysis server is being used, but it looks like certain packages are causing the issue. It seems any of the packages which have a dependency on Flutter pull in various Flutter dependencies into `package_config.json` disabling analyzer support for most web based SDK libraries including `dart:web_gl`.

This seems to happen even with just packages like

[2022-02-26 11:50] parlough opened #2180 "Remove support for importing pedantic package"
Now that we use `lints` and `flutter_lints` and all versions of Dart we support have `unawaited` in the core library, the library is no longer needed.

I believe this would be a breaking change(?) as if a snippet imported it previously, they would get an error now.

[2022-02-26 14:01] mafreud opened #2181 "Display the compiled js from Dart/Flutter in chrome"
I am currently learning about the dart-pad system, dart-services, trying to build custom dartpad.
I can POST to https://stable.api.dartpad.dev/ and compile the dart(Flutter) code to js with DDC.
However, how does DartPad display this compiled js in chrome?

[2022-02-27 17:42] parlough commented on #2158
I was thinking about this and another solution to solve part of the issue would be to somehow allow for pad creators to somehow specify and hide a header to the file(s). This way they could optionally [ignore](https://dart.dev/guides/language/analysis-options#suppressing-rules-for-a-file) specific rules or all lint rules.

[2022-03-01 01:24] #2159 closed

[2022-03-01 01:57] srawlins commented on #1926
Closing as stale.

[2022-03-01 01:57] #1926 closed

[2022-03-01 22:52] #2180 closed

[2022-03-02 23:12] #2165 closed

[2022-03-03 23:48] domesticmouse opened #2185 "DartPad on dev channel is analyzing using Stable API"
## What happened?

Using the dev channel to test new packages shows missing package analysis warning:

<img width="429" alt="Screen Shot 2022-03-04 at 9 46 49 am" src="https://user-images.githubusercontent.com/30503/156672186-c38fbc85-7f27-4b79-97a2-292feefbc84f.png">

## Steps to reproduce problem

  - Navigate to https://dartpad.dev/?channel=dev&id=2ce7a8494c58dcf8d7fe6499f5047844
  - Pop open t

[2022-03-04 17:56] johnpryan commented on #2185
It looks like we make an `/analyze` request before the query parameters read. The first one goes to `stable.api` and the other two go to `dev.api`.

<img width="656" alt="Screen Shot 2022-03-04 at 9 51 09 AM" src="https://user-images.githubusercontent.com/1145719/156815751-1b88e7a7-f47b-4d9c-be8a-9c785e614011.png">

[2022-03-09 01:12] jamesderlin opened #2187 "Format button can replace HTML and CSS with Dart code"
## Steps to reproduce problem

1. In DartPad, click New Pad > Dart.  Enable HTML.  Click Create.
2. Add extraneous whitespace to the Dart code.
3. Switch to the HTML tab.
4. Press the Format button.

Result:
The content of the current tab is replaced with the reformatted Dart code, regardless of which tab is selected.

## Additional info

### Browser

Firefox 97.0.2 64-bit on Windows
Edge 99.0.115

[2022-03-10 10:57] timmaffett commented on #1361
I thought I would put this here just for the interested parties, and to illustrate how nice and complete codemirror's vim support actually is...

----(below notes from testing------------------

I tried to systematically try all of the following commands, and there were
only a few Ctrl sequence commands (which did not work because the browser owns them)
(Browser Hijacks: Ctrl+w, Ctrl+h, Ctrl+j,Ctr

[2022-03-11 21:41] jorgecoca opened #2191 "Add ability to run unit and widget tests from DartPad"
As a developer, I find DartPad incredibly useful to learn and teach easy to semi-complex Flutter/Dart topics in a preconfigured environment, and that's priceless.

However, one thing I wish DartPad had to make it 💯 would be the ability to write and run automated tests against the code written in the main workspace.

_**Why you might be wondering?**_ 🤔

Flutter/Dart has an incredible opportunity to

[2022-03-11 22:19] jorgecoca commented on #2191
There seems to be some workarounds, like explained here: https://github.com/dart-lang/dart-pad/wiki/Embedding-Guide#testing-the-users-code

However, I don't think that's a good example or experience since it deviates from the standard way of testing using `test`/`flutter_test`.

[2022-03-12 04:12] domesticmouse commented on #2191
Kinda need the ability to run user generated code under a test runner in a sandbox on the server. That's probably do-able under Cloud Run using gvisor for sandboxing, but it isn't going to be a cakewalk.

[2022-03-16 05:31] mkorbel1 opened #2193 "Add `rohd` package"
Would love to see support for importing the ROHD package in dart pad!
https://pub.dev/packages/rohd

[2022-03-16 08:23] domesticmouse commented on #2193
Can you please supply a single page sample showing how to use ROHD in a useful way?

We need a proof of life script to make sure it is working as part of an implementation change.

[2022-03-16 09:53] definite-d opened #2194 "DartPad site doesn't open without the "www" subdomain"
## What happened?
Upon navigating to https://dartpad.dev , I either get a timeout error in my browser, or the site keeps loading for eternity.

![Screenshot_20220316-105950](https://user-images.githubusercontent.com/38317208/158566938-de1df8a7-7045-4fed-8200-b98224dae065.png)

https://www.dartpad.dev opens properly though.
![Screenshot_20220316-110030](https://user-images.githubusercontent.com/383

[2022-03-16 16:31] mkorbel1 commented on #2193
Sure, here's a slightly modified example from the repo that should work well!

[code]

[2022-03-16 17:52] #1491 closed

[2022-03-16 23:10] srawlins opened #2195 "Suggested package pairing: `yaml` and `yaml_edit`"
They're both small and I think DartPad would be the perfect environment for playing with parsing and editing YAML.

[2022-03-17 23:56] johnpryan opened #2197 "Embeds don't call analyze() during initialization"
Embeds don't run analyze right away. For example, see this [invalid Dart snippet](https://dartpad.dev/embed-flutter.html?id=be111bbae41dd57399e558835e2ad345). This is because we tell it not to:

https://github.com/dart-lang/dart-pad/blob/36192896815f9d6d175a858f238d526bad191f55/lib/embed.dart#L489

@RedBrogdon is this a design choice or just an oversight?

[2022-03-18 16:28] #1234 closed, assigned to nobody

[2022-03-18 16:28] #2185 closed

[2022-03-18 20:45] polina-c opened #2201 "Allow to turn off null safety to enable experiments for null safety migration."

[2022-03-18 23:02] domesticmouse commented on #2201
We turned off supporting both null safe and null unsafe code due to complexity costs on the server infrastructure. Supporting `dart migrate` isn't something we can cost effectively do with cloud infra. Sorry.

[2022-03-18 23:02] #2201 closed

[2022-03-19 04:00] searchy2 opened #2202 "Add Support for `video_player` Package"
`video_player` has 100% popularity and is very commonly used!

Any layout that needs to play video will most likely use `video_player`.

[2022-03-22 15:06] Psychosynthesis commented on #668
Yes it still there (just another example):

[code]

_I'm just learning Dart, so don't mind if the code is clumsy, anyway it illustrates what I want to show._

After pressing Run, the user no longer has the opportunity to start execution again from an empty context (I don’t know how to say it correctly), but it can be seen that when the start button is pressed again, the old timer continues to work

[2022-03-22 15:09] BlackHC commented on #668
If this bug was a person, it would be in primary school now 😅

[2022-03-23 19:10] mikerreed opened #2205 "Disassembly"
Can it output 'anything' that might tell us what sort of native instruction would get produced?

Not looking for exact answer, but any form of annotated ASM-like commands would tell us things about our code's efficiency...

- did Dart inline this small getter?
- did Dart pull this common expression out of the loop?
- did Dart have to convert between int/double/etc.?
- etc.

Perhaps there is anothe

[2022-03-23 21:01] #2151 closed

[2022-03-23 21:01] #2152 closed

[2022-03-25 18:19] #1866 closed

[2022-03-25 18:19] #2150 closed

[2022-03-28 20:04] johnpryan opened #2211 "Ordered and unordered lists have incorrect spacing"
<img width="688" alt="Screen Shot 2022-03-28 at 7 51 05 pm" src="https://user-images.githubusercontent.com/1145719/160477943-9ae15510-a5bf-4278-a774-a164368211c2.png">

[2022-03-28 20:05] johnpryan opened #2212 "Blockquotes aren't working"

[2022-03-30 22:21] puf opened #2215 "Connecting to Firebase Realtime Database throws cross-origin error"
## What happened?

Connecting to the Firebase Realtime Database in Dartpad (dev channel at the moment) raises

And:

## Steps to reproduce problem

https://dartpad.dev/?channel=dev&id=ea50f75646c5fb0c4433a4b82cfb5fea

## Additional info

### Browser

Browser: Chrome

Version: Version 99.0.4844.83 (Official Build) (x86_64)

Errors in JavaScript console:

[code]
And:
[code]

### Machine

Operating s

[2022-03-30 22:57] #2212 closed

[2022-03-30 22:57] #2211 closed

[2022-04-04 20:26] #1825 closed

[2022-04-04 20:32] johnpryan opened #2216 "Add support for relative image paths in workshops"
It might be possible to configure our markdown generator to support relative paths for image URLs. This is a pain point for authors who develop on a local machine on `localhost` and would like to also make the image requests to `localhost` too.

[2022-04-04 20:34] johnpryan commented on #2216
We might be able to provide a custom [`imageLinkResolver`](https://pub.dev/documentation/markdown/latest/markdown/markdownToHtml.html) that can handle relative links correctly.

[2022-04-04 20:37] johnpryan opened #2217 "Verify focus behavior"
This is an issue to track any focus management issues. Some users have reported that focus can get stuck outside of the Flutter panel, especially when switching between steps in a workshop.

[2022-04-04 20:54] johnpryan opened #2218 "Bold text is difficult to distinguish"

[2022-04-05 00:39] domesticmouse opened #2220 "[workshop UI]: Moving to the next step should clear the prior running app UI"
When you press the next step button the source code is updated, but the prior running app UI is left in place.

The new code may not compile and run, so re-running may be inappropriate, but flushing the sandbox back to it's initial non-running state would be good from a developer expectation POV.

[2022-04-05 05:48] domesticmouse commented on #1826
Uhm, this appears to have been shipped as https://github.com/dart-lang/dart-services/pull/695/files#diff-a14f99d4ef1b6791c225138cff084882ac0b7ac614056835ebc71c2f3b3e6874R8

I'm curious @srawlins, what else is outstanding before we can close out this bug?

[2022-04-05 05:50] domesticmouse commented on #1155
I'm calling this done for now. The `dev` channel is a staging ground for testing out Package support and can be altered as required.

[2022-04-05 05:50] #1155 closed

[2022-04-05 05:50] domesticmouse commented on #1506
Also closing this out now that `dev` is a usable channel

[2022-04-05 05:50] #1506 closed

[2022-04-06 21:03] #2220 closed

[2022-04-06 21:24] johnpryan opened #2222 "Split percentage is too large when clicking the run button"
I think we should limit the splitter to about 50% to 60% of the height of the page, otherwise the code completely disappears.

[2022-04-06 21:24] domesticmouse commented on #2222
+1

[2022-04-06 21:30] johnpryan opened #2224 "Requests are still made to stable.api with dev channel"
Steps to reproduce:

- open Chrome DevTools
- go to https://dartpad.dev/?channel=dev&id=ea50f75646c5fb0c4433a4b82cfb5fea
- observe that there are a few requests to `/analyze` made to `stable.api`

Eventually we make a request to `dev.api` so any diagnostics that come from the stable channel aren't shown to the user, but we should probably clean this up anyway.

[2022-04-07 14:24] timmaffett commented on #2218
I played with styles a bit and it seems that there are several (obvious) options:
  a) include a heavier weight version of the Roboto font - current bold is 600 or 700. I think this would be less legible.
  b) change to the Roboto Mono for bold so that spacing is wider
  c) adding additional slight color change, I found #cef (from #fff) gives a subtle shift to blue that
  d) both b) and c)

I have

[2022-04-07 16:03] DavidPerezContreras opened #2226 "Recursive infinite method calls, page not responding"
## What happened?

In an anonymous async function I called main method, from main method (recursively)

## Additional info

### Browser

Browser: Microsoft Edge(iOS)

Version: 99.0.1150.52

Are you using any extensions/plugins that affect website behavior
(particularly those that affect iframes, such as ad blockers)?

No

Are there any warnings or errors in your browser's JavaScript console?
If so

[2022-04-08 17:49] puf opened #2228 "Using Google Analytics for Firebase raises error "IndexedDB unavailable or restricted in this environment.""
## What happened?

When trying to use Google Analytics for Firebase in Dartpad I get "IndexedDB unavailable or restricted in this environment". Full error message below.

## Steps to reproduce problem

https://dartpad.dev/?channel=dev&id=3d14bd0ee70e385b7eaa29c7ee6e9621

## Additional info

Error message in the browser's JavaScript console
[code]

A compatibility issue with IndexedDB was fixed in

[2022-04-10 06:00] domesticmouse opened #2229 "Package support: `quiver`"
https://github.com/google/quiver-dart

[2022-04-10 09:37] PoojaB26 opened #2230 "ListView doesn't scroll in Dartpad, but works in emulator"
## What happened?

Any code that has listview is not scrolling in Dartpad anymore. There is no error on the console even.
Found the issue when I was trying out the Dart workshop - [Scrolling experiences in Flutter](https://dartpad.dev/workshops.html?webserver=https://dartpad-workshops-io2021.web.app/getting_started_with_slivers&utm_source=google-io21&utm_medium=referral&utm_campaign=io21-resources

[2022-04-10 11:40] selhuberb opened #2231 "Codelabs / Editors showing issues"
Hi Team,

I started having a look into Flutter development and I'm therefore having a look into your provided trainings.
At the following training nearly every Dart editor is showing issues:
https://docs.flutter.dev/codelabs/layout-basics

I'm using Chrome Version 100.0.4896.75 (Official Build) (x86_64) on macOS Monterey 12.3.1.
Maybe you want to have a look into it.

<img width="798" alt="dart-ed

[2022-04-10 23:49] domesticmouse commented on #2230
Hey @PoojaB26, can you give an example of code that isn't scrolling for you in DartPad?

I'm trying the solution to [step 7 of @Piinks' workshop](https://dartpad.dev/workshops.html?webserver=https://dartpad-workshops-io2021.web.app/getting_started_with_slivers#Step7) and it appears to be working for me on Chrome 100.0.4896.75 on macOS 12.3.1 (M1 variant)

<img width="690" alt="Screen Shot 2022-04-

[2022-04-10 23:55] domesticmouse commented on #2231
I've opened an issue on flutter/website's issue tracker as the issue is that the samples need to be update for the new lint rules. Thanks for the report!

[2022-04-11 00:00] domesticmouse commented on #2231
Actually, there is something more interesting going on here. As alluded to in the image above, the warnings are for lines not actually in the sample code. I'm guessing it is in the test code?

[2022-04-11 02:13] domesticmouse opened #2232 "Package support: `flutter_processing`"
Pub package: https://pub.dev/packages/flutter_processing

I believe `flutter_processing` would enable a new world of visual samples for DartPad

[2022-04-11 02:15] domesticmouse commented on #2202
Pub package: https://pub.dev/packages/video_player

[2022-04-11 16:18] #2222 closed

[2022-04-11 16:24] johnpryan commented on #2231
I agree this is probably an issue with the test code. It's hard to debug because the test code is appended to the `main.dart` script, so the line numbers seem to be incorrect.

[2022-04-11 17:24] Piinks commented on #2230
Are you trying to scroll by dragging with a mouse? That's just a first guess - on desktop (and web running on desktop), you cannot drag a scrollable with a mouse. I do not think that was the case when we created and recorded this workshop, so I may be dragging on it in the video.
There is a guide for that change:
https://docs.flutter.dev/release/breaking-changes/default-scroll-behavior-drag

[2022-04-11 17:32] PoojaB26 commented on #2230
@Piinks Oh yes, that's what I did!  I dragged it with a mouse. And now if I use the up/down keys, it works fine. Had no idea about this change, so didn't think of it. So it works as expected I believe, we can close this issue. Thanks @Piinks for pointing it out and @domesticmouse for trying to reproduce the bug on your end.

[2022-04-11 17:34] timmaffett commented on #2231
I took a look at this last night and I noticed that the warnings were always like 8,12 and 36 lines past the end of the example source.  When I took a look at the test code I noticed that there were `Color()` constructors calls on lines 7 and 11 and then an `if (rows.length == 0) {` on line 35.. which directly correspond to the warnings, so you are right, this is definitely the warnings from the t

[2022-04-12 00:09] srawlins commented on #2195
Quick update, the priority for `yaml_edit` for me personally has dropped a lot. But still, small. And I still think `package:yaml` would be a great addition.

[2022-04-12 00:16] domesticmouse commented on #2195
Actually, `yaml_edit` looks like a really good fit for a project i'm working on. thanks for the pointer @srawlins!

[2022-04-12 09:08] Deleplace opened #2239 "Save via DartPad-owned Gist"
Hi, I've read related issues #1735, #806, #805, #2169, and the [Sharing guide](https://github.com/dart-lang/dart-pad/wiki/Sharing-Guide).

I acknowledge that several options for a seamless "save" button have already been discussed, and that offering storage would lead to many problems.

Can we discuss the following option, which seems to be what the [Rust Playground](https://play.rust-lang.org/) i

[2022-04-12 23:46] natebosch opened #2240 "Unhandled exceptions are sometimes not surfaced"
## What happened?

Sometimes unhandled async exceptions don't show up in the Console output area.

## Steps to reproduce problem

The problem does not reproduce reliably. Refreshing the page seems to result in either having exceptions work, or not work. When they don't work they will be consistently suppressed on every run until the page is reloaded.

## Additional info

### Browser

Browser: Chro

[2022-04-13 13:23] miquelbeltran commented on #2217
I am currently reviewing some DartPad based workshops and got stuck on this issue, I've found a minimal reproducible example:

1. Open https://dartpad.dev/workshops.html?webserver=https://raw.githubusercontent.com/flutter/codelabs/master/dartpad_codelabs/src/custom_button#Step10
3. Click Run
2. Click on the empty white space in the app in the UI Output
4. You can press `tab` to select the button (

[2022-04-15 09:54] himanshubanerji opened #2241 "Support for change of font-size"
Button to change font size without the need to zoom all the way in

[2022-04-17 15:13] mykdavies commented on #1643
Me too, too. But while we're waiting, here's my .css for fixing this. I use it with Cascadea on Safari.

Enjoy!

<details>
  <summary>dartpad.css</summary>

[code]
</details>

[2022-04-18 18:22] justinmc opened #2246 "Async bug when re-run (Stream not cleared?)"
When listening to a Stream, it doesn't get cleared between runs and continues to operate.

https://dartpad.dartlang.org/?id=ed7088d267f42e590ca38cabab8fcf50

To reproduce:

1. Run the example. "the item is number n" is correctly printed every 500ms.
2. Change either of the strings.
3. Run again.

Expected: Only the new string is printed on every tick now.
Actual: Both old and new strings get print

[2022-04-18 21:16] domesticmouse commented on #2246
John, can you confirm this is a result of not cleaning the Sandbox sufficiently?

[2022-04-18 21:27] johnpryan commented on #2246
Duplicate of https://github.com/dart-lang/dart-pad/issues/1632

[2022-04-18 21:27] #2246 closed

[2022-04-19 21:28] domesticmouse commented on #2215
To drop the Sandbox constraints we need to go back through Security Review for Dart Services. I'd really prefer not to have to go through Security Review again =)

[2022-04-20 12:37] brianegan opened #2247 "Dartpad Workshops: "Run" button opens console tab for Dart workshops"
The "Run" button on `type: dart` Dartpad workshops expands the "Console & Documentation" panel, but it does not select the correct "Console" tab.

## Reproduction steps

  1. Go to https://dartpad.dev/workshops.html?webserver=https://raw.githubusercontent.com/flutter/codelabs/master/dartpad_codelabs/src/example_dart
  2. Click "Run" button
  3. Console & Documentation panel expanded, but "Console"

[2022-04-20 20:11] marcusatiliusregulus commented on #2108
second this!

[2022-04-20 21:46] parlough commented on #2191
@RedBrogdon explored creating a custom test package for DartPad based codelabs which could be explored further: https://github.com/RedBrogdon/dartpad_test

[2022-04-21 10:40] brianegan opened #2250 "Dartpad: Heading3 (h3) font too small"
- h3 Font is too small (1em, or 14px)
  - body font is explicitly 16px, larger than h3. This makes it hard to scan the document for headings.
  - h2 font is 1.5 em, or 21px.
  - Suggestion: h3 font should be set to 18px or 1.25em.

[2022-04-21 13:39] brianegan opened #2251 "Dartpad Workshops: Keep code I've written moving from one step to the next"
Problem statement:

  - As a workshop taker
  - when I've worked on a step for a bit and like my solution
  - Then I move to the next step
  - All of the code I've written in the previous step is now gone.

I cannot navigate back to the step to see my solution, the code is always replaced with the contents of `snippet.dart`. This is quite a bummer in many workshops, where you may want to go back a

[2022-04-25 10:55] nodexninja opened #2258 "Github OAuth2 and Multi-File Editor"
### GitHub OAuth2
DartPad is an amazing IDE for programming in Dart and Flutter, but a major issue with [DartPad](https://dartpad.dev) is the inability to save or import code efficiently. My suggestion would be to add a GitHub integration for DartPad so users can log in and import their repositories into DartPad. It would also be **extremely helpful** if users could commit to their repositories as

[2022-04-26 11:48] timmaffett commented on #2251
I have created a PR (#2260) as an example of a possible solution to the problem you have detailed..

The change adds localstorage memory for any changes the user makes for each of the steps of the workshop.
Other details:
  - once the user edits a steps snippet a 'revert' icon is added next to the run button that allows going back to the original snippet
  - if the user does revert to the original

[2022-04-26 13:01] brianegan commented on #2251
Heya @timmaffett -- this looks great! Thanks so much for the help.

After testing it, it's working almost exactly as I hoped!

After working with it, I realized I failed to specify one use case: some ability to Show & then hide the Solution code. Or, show the Solution code, then restore the code the user has written. I could see it working something like this:

  - as a workshop taker
  - when I f

[2022-04-26 18:36] timmaffett commented on #2251
Thanks for taking a look @brianegan !

I have added the ability to show the solution and return to your code.
When the user presses show solution they are no longer presented with a dialog (as losing your code no longer applies).
When the solution is showing they have the icons available to revert to original snippet or revert to their last edit.
When they return to their last edit there is now a

[2022-04-27 21:37] timmaffett commented on #2251
Good find - It is because they haven't edited yet and I am not handling that correctly.  I will fix this by tomorrow.

[2022-04-27 22:00] johnpryan opened #2261 "Use flutter.js API"
Once the [flutter.js](https://docs.flutter.dev/development/platform-integration/web/initialization) API lands in the stable and old channels, we can start using this API for DartPad.

This would allow us to load the engine once

[2022-04-27 22:06] johnpryan opened #2262 "Re-running a flame sample displays an error in the console"
Running a flame app throws an error on subsequent runs:

[code]

[code]

This is probably because we aren't cleaning up the iframe correctly when `package:flame` is used.

[2022-04-27 22:54] timmaffett commented on #2251
Ok @brianegan , I have fixed that case and any case where they view the solution before editing (or resetting to the snippet with no changes).
I would love it for you to give that a try when you can and let me know if it does indeed fix the problem for you.

thanks!

[2022-04-28 09:56] brianegan commented on #2251
Thanks again, @timmaffett :)

When I click on "Show Solution" before typing any code, the button "Go to last edit" pops up. That totally wors, but I was surprised it wasn't the "Revert to Original" button instead.

A small detail, functionally everything is working well at this point! Really appreciate it.

[2022-04-30 00:43] RedBrogdon opened #2264 "Re-bump CodeMirror"
The last bump of CodeMirror introduced a break in the system. We'll need to figure out why and get ourselves back up to date.

[2022-04-30 01:07] domesticmouse commented on #2264
Context: https://github.com/dart-lang/dart-pad/pull/2263

[2022-05-03 09:10] AJJB1 opened #2268 "Example is using now.month instead of now.minute"
## What happened?

In line 64 it's now.month instead of now.minute in this example:
https://dartpad.dev/?id=e66e420f2f0201c772f73819711bf290
I'm getting there via the Flutter.dev page when I click "try it in dartpad".

## Steps to reproduce problem

If I reset the editor, the problem persists.

## Additional info

### Browser

Browser:

Version:

Are you using any extensions/plugins that affect we

[2022-05-03 09:31] #2268 closed

[2022-05-03 09:32] AJJB1 commented on #2268
Sorry, my mistake, this is for the Flutter team

[2022-05-05 20:42] johnpryan commented on #2262
The exception I see comes from Flutter parses stack frames:

[code]

But this seems to be hiding the underlying issue, since the assert message isn't matching the regex defined in `_parseWebDebugFrame`:

[code]

This is the underlying assert that gets triggered:

[code]

[2022-05-05 20:42] johnpryan commented on #2262
A similar problem is happening with pointer events:

[code]

[code]

[2022-05-05 20:43] johnpryan opened #2269 "Clean up Flutter SDK so that the iframe is preserved"
To work around https://github.com/dart-lang/dart-pad/issues/2262, we need to set `destroyFrame` to true when calling `ExecutionService.execute()`. This is overkill, but ensures that any pointer and keyboard assertions in the framework don't get triggered due to unexpected state from the previous run.

[2022-05-05 22:16] johnpryan commented on #2217
I think this will be fixed by https://github.com/dart-lang/dart-pad/pull/2270, but need to verify

[2022-05-06 16:02] #2262 closed

[2022-05-06 18:28] zelamngo opened #2271 "Dartpad should support a channel with null safety disabled."
Dartpad does not currently have a channel that allows testing of non null safe code.

This makes it hard to use dartpad to test non null safe code behavior for developers that are still working on legacy code.

[2022-05-06 22:21] #2251 closed

[2022-05-06 22:22] #2247 closed

[2022-05-07 01:23] timmaffett commented on #1826
@domesticmouse https://github.com/dart-lang/dart-services/pull/695/files#diff-a14f99d4ef1b6791c225138cff084882ac0b7ac614056835ebc71c2f3b3e6874R8 does indeed fix the generation of the unsupported package list to complete, but it does not fix the first issue listed here, the incorrect line number reported.  ('It says "line 1 • Unsupported import(s):  ...')

(detailed analysis below - read or skip..

[2022-05-09 16:53] johnpryan commented on #2217
fixed by #2270

[2022-05-09 16:53] #2217 closed

[2022-05-13 04:12] timmaffett commented on #2231
While exploring the Flutter area within the Google IO Adventure I happened upon the 'win a dash' area where you must fix 3 dart/flutter examples.  Unfortunately this same bug reared it's head there as well, and two of the examples had 'warnings' past end end (within the test code).   I suspect that this area was used last year... but since then the analyzer now finds these warnings and displays th

[2022-05-13 15:21] devmil commented on #1380
I know this issue is rather old but I also encountered this problem.
Here is how I was able to solve it for my system (highlight.js v 11.5.1)
[code]
Highlight.js picks up the `lang-dart` part and the DartPad injector is happy as well.

[2022-05-17 20:34] gspencergoog opened #2278 "Configuration should allow using the beta channel by default instead of stable."
For the [Flutter master API docs site](https://master-api.flutter.dev), it would be nice if we could configure things on a server-wide basis so that dartpad defaults to using the beta channel instead of the stable channel, since that's often much closer to master, and fewer examples would be broken for a shorter period of time when a breaking Dart or Flutter change occurs in master.

I know we can

[2022-05-17 20:53] domesticmouse commented on #2278
@gspencergoog are you asking for the selected channel to be sticky? We don't have a concept of a logged in user, so setting client side state is about as close as we can get on this front at this point.

[2022-05-25 21:41] #2170 closed

[2022-05-25 21:41] #2105 closed

[2022-05-25 21:42] #2087 closed

[2022-05-25 21:42] #2012 closed

[2022-05-26 06:40] jamesderlin commented on #1792
Looks like this was fixed by https://github.com/dart-lang/dart-pad/pull/2186.

[2022-05-26 06:40] #1792 closed

[2022-05-26 19:25] spydon opened #2286 "`Error loading AssetManifest.json` when trying to load google_fonts"
## What happened?

The google fonts aren't being loaded, most likely due to `WidgetsFlutterBinding.ensureInitialized()` not properly running from `runApp`.

## Steps to reproduce problem

The simplest way to reproduce it is to just open the Padracing sample that can be found here:
https://dartpad.dev/?id=ecabed4a17a3aad8bee7c6327e472fc8

## Additional info

### Browser

Browser:
Firefox - 101.0b9

[2022-05-26 22:08] domesticmouse commented on #2286
Oddly enough, the [Google Fonts demo](https://dartpad.dev/?id=493c8b3ef8931cbac3fbbe5c04b9c4cf) works as advertised.

[2022-05-27 11:59] spydon commented on #2286
It seems to be some problem with the theme declaration, I tried to put the theme declaration straight into the `MaterialApp` and I also tried to have it as `late final`, but none of those solutions worked. I found a workaround that works though, and that is to put `WidgetsFlutterBinding.ensureInitialized();` as the first thing in `main`.

It's strange though, because Padracing worked correctly dur

[2022-05-27 12:14] spydon commented on #2286
I was able to reproduce this for the Google Fonts demo by moving the `MaterialApp` declaration directly into `runApp` and defining the `headline1` and `headline2` themes directly, like this:
https://dartpad.dev/?id=ca65097d19cc31f06431e7c6df24d4e0

[2022-05-27 22:56] domesticmouse commented on #2286
This is starting to feel like a bug in Flutter's web compiler, not DartPad. I'm also guessing we can work around the issue by moving the code out of main.

Do you want to try reproducing with Flutter web directly, I.e. outside of DartPad?

[2022-05-27 23:13] spydon commented on #2286
True, making it its own widget wrapping `MaterialApp` also works.

I can reproduce it on `master` (`3.1.0-0.0.pre.984`) and stable, but it behaves a bit differently, it gives the same error messages, but the fonts still load.

I guess this issue can be closed then since it's not fully related to DartPad?

[2022-05-27 23:53] domesticmouse commented on #2286
I can’t see in the chrome tooling where it is attempting to load the `AssetManifest.json`. We actually have a fake manifest baked into the DartPad front end that may need to be updated.

[2022-05-28 08:31] domesticmouse commented on #2286
I've updated the gist behind https://dartpad.dev/?id=ecabed4a17a3aad8bee7c6327e472fc8 with a top level widget and we now have the font rendering. But the code showing in my browser differs to the content of the gist. And the updated gist name hasn't flowed through. I suspect there is a cache somewhere that I can't flush.

[2022-05-28 09:03] spydon commented on #2286
It seems like the cache (if there was a global one) has been updated now, it works perfectly for me at least! :raised_hands:

[2022-05-28 23:17] domesticmouse commented on #2286
From testing it looks like we have a long lived in browser cache for gists. @johnpryan can you confirm?

[2022-06-02 20:36] terryl1900 opened #2288 "Add support for `creator` package"
Hello, [`Creator`](https://github.com/terryl1900/creator) is a state management package I recently released. It is inspired by rivperpod.

Currently, I'm copying all the source code to make DartPad work ([example](https://dartpad.dev/?id=a6d82a6bb955fa4f42ff50b6c6d90d34)), and I would like to request native DartPad support.

Not sure what is the criteria here. I guess my package is still too early

[2022-06-02 21:27] timmaffett commented on #2286
@domesticmouse  the localstorage is used to store a single gist object - the key is always 'gist'.   This saved gist object has it's ID (as you see in dartpad url also) and all of the associated files.  If the ID being requested by the ID parameter in the URL matches the ID of the (one an only) gist stored in localstorage then the contents of the localstorage *are always used* - regardless if they

[2022-06-06 11:51] slightfoot commented on #2171
@domesticmouse looks like this still is a problem. any news?

[2022-06-06 11:56] domesticmouse commented on #2171
I'm unsure what the required fix is. More than happy to accept PRs on this one.

[2022-06-07 20:46] #1826 closed

[2022-06-08 13:28] johnwiese-ms opened #2294 "Collapsed code blocks appear to automatically expand"
## What happened?

Every so often (seems like when the background syntax checking happens) the code blocks I've collapsed will automatically expand again.  I would expect that when I collapse a code block it stays collapsed unless I un-collapse it, or during debugging I am placed into that code.

## Steps to reproduce problem

1. Create a new Dartpad -> Dart.
2. Add this method

void someFunction(

[2022-06-10 20:33] Mryuksel101 opened #2296 "@immutable eroor"
I have some mistakes when I want to use @immutable

![Ekran Görüntüsü (422)](https://user-images.githubusercontent.com/99680265/173145994-100953a1-0f99-446d-bf41-9424bbad9e9b.png)

[2022-06-10 23:50] domesticmouse commented on #2296
First up, please read https://codewithandrea.com/articles/beginners-guide-coding-questions/

Secondly, yup there are coding errors. If you click the blue "show" button next to the "1 issue" label in the bottom status bar I suspect you will get a hint as to what the issue is. I believe adding a constructor to your `Student` class will help...

[2022-06-10 23:50] #2296 closed

[2022-06-11 08:44] icnahom opened #2297 "Importing from Flutter turns DartPad into a Flutter Environment"
I wanted to experiment with `ValueNotifier` but when I import `package:flutter/foundation.dart` DartPad thinks I'm running an app. I think it would be better if it can detect `runApp` method instead of import statements.

[2022-06-11 09:12] #2297 closed

[2022-06-13 11:11] henriqueArrazao commented on #1643
Yes, only those who have dyslexia know how bad it is, please!

[2022-06-14 16:17] timmaffett commented on #2294
This is being caused by all of the codemirror markers getting cleared in `setAnnotations()`, within `editor_codemirror,dart`.  It should be fairly straightforward to only remove our info/error annotation markers and leave all of the users alone (preliminary testing has shown me this works).   I will get a PR in ASAP - it will probably require a change to `codemirror.dart` as well to make `TextMark

[2022-06-15 01:17] timmaffett opened #2300 "Padracing sample is now non-functional and contains errors"
The new Padracing sample now contains errors caused by missing code.  The backing gist seems to have been changed is missing a base class `ContactCallback` as well as some other methods.

https://dartpad.dev/index.html?id=ecabed4a17a3aad8bee7c6327e472fc8

Or just go to dartpad.dev and select the `Padracing` sample (which is the link above)

[2022-06-15 01:56] #2294 closed

[2022-06-15 02:08] timmaffett commented on #2294
This has been fixed in PR #2301 and should be available soon.  Thanks again @johnwiese-ms

[2022-06-15 03:55] domesticmouse commented on #2300
Hey @spydon, I'm guessing Flame 1.2.0 broke your game. Any chance of guidance on how to fix it?

[2022-06-15 06:09] spydon commented on #2300
Oh, right. Here is the updated version:
https://gist.github.com/spydon/3e52ca7b51ba15f989ad880b8b3314a2

[2022-06-15 06:55] domesticmouse commented on #2300
Ruh-roh, that doesn't compile on DartPad for some reason. See https://dartpad.dev/?id=3e52ca7b51ba15f989ad880b8b3314a2's log:

[code]

[2022-06-15 06:57] domesticmouse commented on #2300
I can't replicate locally. Ugh.

[2022-06-15 07:21] spydon commented on #2300
Are you sure you don't have an old cached version? Because that is the same gist id as I've used previously.

[2022-06-15 07:25] parlough commented on #2300
Yeah it seems to be working for me: https://dartpad.dev/?id=3e52ca7b51ba15f989ad880b8b3314a2

[2022-06-15 14:08] timmaffett commented on #2300
It is working for me also now.

[2022-06-16 02:26] adanilo opened #2302 "UI hangs on infinite loops"
## What happened?
Naive user codes an infinite loop and clicks 'Run' causes the entire UI to lock up.
It should be possible to click reset or similar to get back to a usable state.

## Steps to reproduce problem
1) Load up DartPad in a browser tab.
2) Write an infinite loop, e.g.:
  void main() {
    int i = 0;
    while (i < 5) {
      print('Hello $i');
    }
  }
3) Click 'Run'.

Expected result

[2022-06-17 03:05] domesticmouse opened #2303 "Package suggestion: `basics`"
This looks like it'd be useful and interesting for Workshops and the like: https://pub.dev/packages/basics

[2022-06-17 03:07] domesticmouse opened #2304 "Suggested package `animations`"
Package: https://pub.dev/packages/animations
Recomendation: [Farhan Tanvir](https://medium.com/@farhan-tanvir)'s [7 Useful Flutter Libraries You Should Use in Your Next Project](https://medium.com/geekculture/7-useful-flutter-libraries-you-should-use-in-your-next-project-587965e3b490)

[2022-06-20 14:44] krjw-eyev opened #2305 "Add `shared_preferences` package"
I have used `shared_preferences` a lot lately and it would be great to test small thing with it via dartpad. Since `shared_preferences` supports web I think this should be a great addition to the already supported packages.

[2022-06-21 13:12] iapicca opened #2306 "maybe go_router not up-to-date"
## What happened?

<img width="430" alt="image" src="https://user-images.githubusercontent.com/45637986/174807113-3a2b1e26-bbe2-4596-b530-47f9750c0353.png">

## Steps to reproduce problem

run [this](https://dartpad.dartlang.org/?id=3ca67a732b00f383161d96dbe878891b)

## Additional info

### Browser

Browser: Chrome

Version: Version 102.0.5005.115 (Official Build) (arm64)

Are you using any extens

[2022-06-22 06:58] domesticmouse commented on #2306
Try again in about five minutes, I just pushed https://github.com/dart-lang/dart-services/pull/888 to prod.

[2022-06-22 06:58] #2306 closed

[2022-06-22 07:20] iapicca commented on #2306
@domesticmouse that was really quick
the code sample works :) thanks

[2022-06-22 10:20] TahaTesser commented on #1391
This would help fix https://github.com/flutter/flutter/issues/105959

[2022-06-27 11:07] FARTASH-421 opened #2307 "XMLHttpRequest error"
## What happened?

## Steps to reproduce problem

## Additional info

### Browser

Browser:

Version:

Are you using any extensions/plugins that affect website behavior
(particularly those that affect iframes, such as ad blockers)?

Are there any warnings or errors in your browser's JavaScript console?
If so, paste them below:

[code]

### Machine

Operating system:

Version:

### Your code

What

[2022-06-27 11:07] FARTASH-421 commented on #2307
XMLHttpRequest error

[2022-06-27 11:07] FARTASH-421 commented on #2307
XMLHttpRequest error.

[2022-06-27 17:48] youssef-attia opened #2308 "Positional parameters being placed after named parameters causes compilation error"
## What happened?
I expected DartPad to accept positional parameters being placed in any order with named parameters but this is not the case.
## Steps to reproduce problem
The minimum case to reproduce the error is:
[code]
The errors that DartPad returns is:
"Error compiling to JavaScript:
/tmp/dartpadUTEEFM/lib/main.dart:10:18: Error: Constant evaluation error:
    return const Text(key: Key('he

[2022-06-27 21:27] #805 closed, assigned to nobody

[2022-06-29 06:58] myxzlpltk commented on #1643
wait.... you guys using light theme????

[2022-06-29 20:15] Mosayapps opened #2309 "Error when reading 'calc_state.dart': No such file or directory."

[2022-06-29 22:11] domesticmouse commented on #2309
Can you please give reproduction steps? I'm really not sure what broke here.

[2022-06-30 15:37] jakemac53 opened #2310 "Console errors on each keystroke in the editor"
## What happened?

I am getting the following errors in the console whenever I type in DartPad:

[code]

## Steps to reproduce problem

Open up dartpad and the javascript console for the page, then type anything in the editor.

[2022-06-30 15:43] jakemac53 opened #2311 "Stale analysis errors in the editor not going away"
## What happened?

After fixing errors in the program, the red line in the editor does not disappear, the following should have no red underline since I added the field to fix the error:

![image](https://user-images.githubusercontent.com/984921/176718791-ea8654bc-50b2-44e6-a654-23070a14094e.png)

Note that the list of diagnostics in the bottom right does go away, but the red lines under the code

[2022-06-30 18:38] timmaffett commented on #2310
@jakemac53  Could I ask you to please provide more detail? I am unable to reproduce by doing:

1) going to dartpad.dev
2) open javascript console for page
3) click New Pad, (choose html or non html)
4) typing and modifying the program, running, typing and modifying more, etc.  I am not seeing any messages to the console.
(including adding `window.console.log("Here is a message");` to verify that I

[2022-06-30 18:55] jakemac53 commented on #2310
Hmm, that is exactly what I am doing.

https://user-images.githubusercontent.com/984921/176756016-0882c94c-027d-481e-a0a7-4b15c9d6e376.mp4

However I did notice that this was not happening for me in the local dev environment... only on prod. Possibly it was already fixed by something else?

[2022-06-30 19:16] timmaffett commented on #1097
Now that #2227 is now live on dartpad.dev it may be time to consider updating the https://github.com/dart-lang/dart-pad/wiki/Sharing-Guide linked to by the dartpad 'Share' menu item, and additionally extending the 'Share' menu ability to do what you are describing in

I love your idea here of having the ability to easy share your dartpad gist to Reddit/StackOverflow/Twitter (and perhaps others ?)

[2022-06-30 19:37] jakemac53 opened #2314 "Question regarding the dev setup"
Hi! I recently checkout out this repo to work on a quick bug fix, and I was wondering a bit about the dev setup. In particular, the `grind serve` task does not support re-building when you make edits to the code.

It does appear however that just running `dart run build_runner serve` works perfectly fine, so I was wondering if there is a reason that `grind serve` doesn't just use that server, whic

[2022-06-30 19:42] timmaffett commented on #2310
Weird.  One other difference I see when I duplicate the steps in your video is that I don't see the `Devtools failed to load source map...` error, but that is may be triggered by the exception itself.

I will keep my eye out for this and try to reproduce on other machines as well.

[2022-06-30 20:00] jakemac53 commented on #2310
This is I think related to a chrome extension I have installed.

[2022-06-30 22:32] #2311 closed

[2022-07-01 11:53] flutternoob commented on #1968
When will code completion be resolved on mobile devices?

[2022-07-02 01:28] domesticmouse commented on #1968
I'm curious which mobile device you are using? We haven't designed the UI for usage on a phone, for instance.

[2022-07-02 18:20] flutternoob commented on #1968
I'm using a Samsung A20. Code completion used to work before I created this issue. In fact, before i got my laptop, i learnt the basics of the Dart programming language on my phone using dartpad.dev. Couldn't have done it without code completion.

[2022-07-04 08:59] Deleplace commented on #2239
@timmaffett it works for me and is very smooth, thank you!!

I just used it to quickly create a target URL for the "Demo" link in [this page](https://programming-idioms.org/idiom/55/convert-integer-to-string/577/dart).

A few thoughts in my next comment below.

[2022-07-04 09:20] Deleplace commented on #2239
_Adding feedback here and also copying it to #2227_

The "Login to Github" workflow is asking for "read and write access" to "all of my public and secret gists".

<img width="350" alt="image" src="https://user-images.githubusercontent.com/13508141/177121852-ec3e0299-fa4e-4a59-9d80-48fcbb1a7850.png">

This is more privilege than needed for my use case, as I only want to create public DartPad entrie

[2022-07-06 15:54] jakemac53 opened #2321 "Logging into github breaks dartpad (possible race condition?)"
## What happened?

I noticed that dartpad now has github integration which is great, so I attempted to log in. When I clicked the button to log in, it eventually refreshed the page and showed an error that the "gists scope had not been requested" or something along those lines.

The UI for dartpad was also broken, and I could no longer run any dartpad scripts.

I saw this error in the console as w

[2022-07-06 17:15] johnpryan opened #2322 "Improve organization of dropdown samples"
Once we land https://github.com/dart-lang/dart-pad/pull/2320, we will have a Provider and Riverpod sample, but we should consider breaking up the dropdown into sections such as "Flutter", "State Management", etc.

[2022-07-06 17:32] johnpryan opened #2323 "InconsistentAnalysisException"
Running `grind deploy` throws an exception:"

[code]

[2022-07-06 17:35] johnpryan opened #2324 "Deploy task fails during integration tests"
[code]

[2022-07-06 18:27] st-pasha opened #2325 "LateInitializationError is not caught"
## What happened?

Here's a code sample:
[code]
Running this code in DartPad produces no output in the Console tab, while the browser console shows the following stacktrace:
[code]

### Browser

Browser: Google Chrome

Version: 103.0.5060.53 (Official Build) (x86_64)

[2022-07-06 20:58] #2323 closed

[2022-07-09 08:22] timmaffett commented on #2322
After reading @domesticmouse  's first comment about submenus in #2320 I started looking into possible solutions to the sample menu, and the possibilities of submenus, etc.
My general thought on a possible direction to go here is this:

Instead of having the samples hard coded in _buildSamplesMenu() it would be nice to instead create a class that would:
  1) access a private gist (owned by dart-la

[2022-07-11 19:36] timmaffett commented on #2321
By switching to the beta or old channel's before selecting the GitHub login menu I was able to reproduce the lack of login completion after returning from the GitHub OAuth screen. (and also that removing the query params and reloading did complete the login).
    In the case I what I am seeing I did not see any exceptions, but I did see the query params get garbled with %3F appearing in the url (w

[2022-07-11 19:45] jakemac53 commented on #2321
I don't know for sure, but I don't generally mess with the channel selection.

However, I think I was on https://dartpad.dartlang.org/, which I noticed then redirects you to https://dartpad.dev/ after logging in. I wonder if that has anything to do with it? I think I go to the former one just because its what chrome auto completes for me, I would expect it to always redirect to https://dartpad.dev

[2022-07-11 21:16] timmaffett commented on #2321
@domesticmouse You set up the OAuth apps for the GitHub login support right ?
I was wondering if for the beta, dev and old channel versions if it was possible that you set the return url's to include the `'?channel=XXX'` appended onto the end ?
Like
`'https://dartpad.dev?channel=beta'`
  instead of
`'https://dartpad.dev/'`

The reason I am asking is that it appears GitHub always appends `'?gh=XYZ&

[2022-07-11 21:16] timmaffett commented on #2321
@jakemac53 - GitHub requires the OAuth endpoints to return to a 'static' url (to which is appends the `gh` and `scope` query parameter string.  I am storing current URL state information (*before* login) into localstorage - I did not ever consider the case of starting from `'https://dartpad.dartlang.org'`.   I am imagining that in this case the pre-login information is being stored in the local st

[2022-07-11 22:07] jakemac53 commented on #2321
Fwiw I think it would make a lot of sense to just have `dartpad.dartlang.org` always redirect to `dartpad.dev`, which would solve this problem with conflicting domains? It also can hurt SEO and other things to have both around.

Of course!

[2022-07-11 23:24] domesticmouse commented on #2321
Hey @mit-mit, can you point me at the `dartlang.org` domain file? I think redirecting `dartpad.dartlang.org` to `dartpad.dev` at DNS lookup probably is the easiest fix here.

[2022-07-11 23:38] domesticmouse commented on #2321
Here's Stable DartPad configuration:

<img width="524" alt="Screen Shot 2022-07-12 at 9 36 25 am" src="https://user-images.githubusercontent.com/30503/178376137-27676d21-b9ab-48db-9939-c5da3fe5780a.png">

And here is Beta DartPad:

<img width="502" alt="Screen Shot 2022-07-12 at 9 37 13 am" src="https://user-images.githubusercontent.com/30503/178376223-8ef3ba18-b85a-430d-8d76-a79c0947d18f.png">

H

[2022-07-12 02:38] timmaffett commented on #2321
@domesticmouse  - OK, after digging through the code I realized that the place where we need to fix it is not in the OAuth settings but in the `K_GITHUB_OAUTH_RETURN_TO_APP_URL`  google cloud run environmental variable for each stable/dev/beta/old dart-services.  I think these must have the `?channel=XYZ` appended onto the `K_GITHUB_OAUTH_RETURN_TO_APP_URL` urls.
If you could check the `K_GITHUB_O

[2022-07-12 02:44] domesticmouse commented on #2321
I've updated and redeployed beta, dev and old.

[2022-07-12 03:05] timmaffett commented on #2321
Nice! That was fast @domesticmouse !  I have verified that fixes the GitHub logins starting from the non stable channels.
(and the updated OAuth application names are nice as well!)

Once the `dartpad,dartlang.org` redirects to `dartpad.dev` then I believe that @jakemac53 's original bug will be fixed as well.
(I understand that this is a whole different thing, and changing the dns entries will ta

[2022-07-13 00:33] mbawhitefield opened #2328 "DartPad error"
Error compiling to JavaScript:
XMLHttpRequest error
![Screenshot (7)](https://user-images.githubusercontent.com/75375423/178623591-63504f92-3fab-4a48-8758-8d3b8dcde921.png)
.

[2022-07-13 00:38] domesticmouse commented on #2328
From your screenshot it looks like the front end has yet to connect to a backend. There is no Flutter version info in the bottom right hand corner, and the channel selector isn't showing stable.

If you reload and wait does it come good, or is there something in the browser console logs that hint at network errors?

[2022-07-13 21:34] domesticmouse commented on #2304
Duplicate of https://github.com/dart-lang/dart-pad/issues/2142

[2022-07-13 21:34] #2304 closed

[2022-07-15 19:41] root458 opened #2329 "Code errors persist after fixes"
## What happened?

I was typing a simple program on DartPad. Issues appear while I'm writing the program, on the code as red underlines and banners at the bottom right.
When I fix the issues, the `banner` errors on the bottom right disappear while the red underlines still persist.

![image](https://user-images.githubusercontent.com/57757012/179298868-6d5fe942-4baa-4fde-97ce-1ce91cd57640.png)

![im

[2022-07-17 06:46] domesticmouse commented on #2311
@johnpryan can you please roll a release?

[2022-07-18 20:53] domesticmouse commented on #2321
@mit-mit I'm confused, there is no reference to `dartpad.dartlang.org` in `dartlang/db.dartlang`.

[2022-07-18 23:22] domesticmouse commented on #2321
Heh, it's worse than initially thought. Dartpad serves on the following URLs:

  - dartpad.dev (the canonical URL)
  - www.dartpad.dev (CNAME)
  - try.dartlang.dev (CNAME)
  - dartpad.dartlang.dev (CNAME)

We should probably redirect the CNAMEs in the browser, so as not to lose the Gist ID on the original URL. Or bounce the user to the canonical URL before attempting to log the user into GitHub. I

[2022-07-19 16:58] nullskill commented on #2329
The same 'issues' here, where aren't. The code is underlined where it shouldn't. Temporary fix is to press Format button, it wipes away the underlines, though typing code again gives them back. I tried to press Reset, clear the local storage and cookies, even open the dartpad incognito in Chrome but it didn't help. Also I noticed that import of **rxdart** does not work any more:
`Error: Not found:

[2022-07-19 17:56] timmaffett commented on #2321
@domesticmouse - I had created code that does the bounce to dartpad.dev when the url was not dartpad.dev (when a user selects login to github).  I can finish testing this (also from those new urls you list) and create a pull request for you to take a look at.

[2022-07-19 20:56] johnpryan commented on #2311
Done

[2022-07-19 22:47] timmaffett commented on #2321
I have submitted https://github.com/dart-lang/dart-pad/pull/2330 which initiates a bounce if we are not sitting at dartpad.dev when a github login is initiated.

[2022-07-20 21:39] johnpryan commented on #2116
This depends on the `test` package, which DartPad doesn't support right now.

[2022-07-20 21:42] johnpryan commented on #2175
DartPad doesn't support `package:build`, so I don't think we can add this package.

[2022-07-20 21:42] #2175 closed

[2022-07-20 21:52] mousedownmike commented on #2116
Thanks for the update, relates to #1348

[2022-07-22 18:34] deppimaracanau opened #2331 "Import error"
try to user...and...

Unsupported import(s): (package:open_file/open_file.dart, package:path_provider/path_provider.dart, dart:io, package:dio/dio.dart)

[2022-07-24 15:49] nullskill opened #2332 "Error: Import Not found"
## What happened?

Navigate to https://dartpad.dev/

## Steps to reproduce problem

Enter the code:
[code]

Push the Run button.

## Additional info

Get error in console:
[code]

### Browser

Browser: **Google Chrome**

Version: **103.0.5060.134 (arm64)**

Are you using any extensions/plugins that affect website behavior
(particularly those that affect iframes, such as ad blockers)?
**- No.**

Ar

[2022-07-25 01:34] #2332 closed

[2022-07-26 06:02] playerpxx opened #2333 "Error compiling Javascript"
I use chrome, and when I clicked RUN button following error occurs.

![image](https://user-images.githubusercontent.com/100674977/180934334-a50aeffe-9a64-42bc-a40f-42d1b09332d6.png)

[2022-07-26 15:34] parlough commented on #2331
Hi @deppimaracanau, thanks for opening an issue.

Since DartPad runs on the [web platform](https://dart.dev/overview#web-platform), `dart:io` and packages, such as `package:path_provider`, which depend on it are not supported. DartPad also has a specific set of packages that are supported, which doesn't currently include the packages you are trying to use. To see a list of supported packages, you

[2022-07-26 15:34] #2331 closed

[2022-07-26 15:38] parlough commented on #2333
Hi @playerpxx, since Flutter 1.9, [Flutter Web](https://flutter.dev/multi-platform/web) is included as part of the normal Flutter SDK/package, so you just use the normal `package:flutter` imports.

If you still have issues once adjusting to those imports, let us know :)

[2022-07-26 15:38] #2333 closed

[2022-07-28 10:25] DetachHead opened #2334 "share button that doesn't require manually creating a gist"
it's annoying to have to manually create a gist just to be able to share a dart pad link. it would be cool if you could just click a "share" button like you can in the [typescript](https://www.typescriptlang.org/play) and [mypy](https://mypy-play.net) playgrounds. (the "gist" button on the mypy playground creates a gist for you)

[2022-07-28 23:42] domesticmouse commented on #2334
Hey @timmaffett, how hard is this to implement?

[2022-07-29 20:45] iamshaunwu commented on #2288
+1

[2022-07-29 21:53] timmaffett commented on #2334
@domesticmouse Well it would depend on how we went about it.   If the user was logged into GitHub with their own account it would be trivial to have the share button create a gist and then share the URL of dartpad with the new gist's ID included.

I don't think that this is what @DetachHead is exactly requesting though.  On the [typescript](https://www.typescriptlang.org/play) and [mypy](https://m

[2022-07-29 22:25] domesticmouse commented on #2334
Creating gists on a shared account is a change that requires some discussion. @johnpryan

[2022-07-30 05:02] DetachHead commented on #2334
it doesn't necessarily have to be a gist, i think the typescript playground encodes the content in the URL or something: https://www.typescriptlang.org/play?#code/MYGwhgzhAECC0G9pmgXmgRmgXwFCkhgCFoBTADwBdSA7AExniQCM1Md9wpoBhMq2gziJowNljy58AexoRKyNjVIB3OAAoAlAG4Zcha3TK1RLbuCz5opat5mprSMKc9tQA

[2022-07-31 21:35] nashiruddin47 opened #2335 "Drink-Order"

[2022-07-31 21:54] parlough commented on #2335
Hey @nashiruddin47! Thanks for opening an issue.

Could you provide more information on the problem you faced or any suggestions you have.

[2022-08-01 16:02] timmaffett commented on #2334
@DetachHead Your comment about the typescriptlang.org url got me investigating and I discovered a few interesting more interesting things..  The url does included gzip'ed source code, as well as a diff of all settings that differ from defaults.  This allows the URL to reproduce the exact code environment the original author was using (DartPad does not have a lot of options to change, but different

[2022-08-03 16:33] parlough commented on #2335
I'll go ahead and close this, but feel free to comment here or open a new issue if you have any more information or need any help. Thanks!

[2022-08-03 16:33] #2335 closed

[2022-08-04 17:55] ibrahim1520 commented on #2328
can I help you?

[2022-08-05 20:03] awh6al commented on #2278
what about HTTP cookies?

[2022-08-05 20:20] awh6al opened #2342 "Add master channel"
it's very painful to switch from channel to another in flutter in local environment and it became a wast of time even in small regression tests, so it's helpful feature to be added.

[2022-08-06 03:04] domesticmouse commented on #2342
Due to the various architectural trade offs in building a service like DartPad, it isn't possible to track master, which changes multiple times a day.

Hey @gspencergoog, if I recall correctly, you built out some tooling to cache dart and flutter versions to make Flutter branch switching cheaper and quicker. Any chance of making that tech more broadly available?

[2022-08-11 00:19] gspencergoog commented on #2278
@domesticmouse I guess it's enough to have the URL parameters, and we'll just republish for stable.  I think we have to do that anyhow for the stamp at the bottom of the page. Is there a URL parameter for the branch to use?

[2022-08-11 01:11] domesticmouse commented on #2278
Try using https://dartpad.dev/?channel=beta as a starting point. We don't have a master channel, however.

[2022-08-11 01:12] gspencergoog commented on #2278
Oh, I understand that (and why), but beta is at least a lot closer than stable. Thanks, I think that's all we need.

[2022-08-11 01:12] #2278 closed

[2022-08-11 01:17] gspencergoog commented on #2342
I did, but it was pretty rudimentary.  Basically some bash functions that would swap out a symbolic link to a branch-specific cache directory when the checked out branch matched one.

I think the better (and actually maintained) version of this is [Flutter Version Manager](https://fvm.app/docs/getting_started/overview), a third party package for managing Flutter versions.

[2022-08-11 09:57] #2342 closed

[2022-08-12 14:03] spydon commented on #2300
This should be possible to close

[2022-08-12 22:59] #2300 closed

[2022-08-21 09:15] dumazy commented on #1643
I would love to have this as well. Even more, to have it synced with the system defaults. I switch between light mode during the daytime, when there's a lot of light in the room and dark mode at night.

[2022-08-23 00:28] domesticmouse commented on #2328
Please show the content of the javascript console

[2022-08-24 08:31] darkstarx opened #2345 "Side effect in an expression evaluating."
Code 1
[code]
Output:
[code]

Code 2
[code]
Output:
[code]

The first line of the main function is identical in both code examples but the results of its evaluating are **different**!

`Based on Flutter 3.0.5 Dart SDK 2.17.6`

[2022-08-24 10:26] Quirinuskolhoze opened #2346 "KOMINFO"

[2022-08-24 20:55] domesticmouse commented on #2346
I'm confused as to what this issue is.

[2022-08-27 00:44] parlough commented on #2345
Interesting, thanks for opening an issue. This seems to only be occurring with dart2js (the web production compiler). 0.0 and -0.0 are roughly equal and identical on the web platform according to [Numbers in Dart](https://dart.dev/guides/language/numbers), so this may be expected.

For future reference, potential issues related to the Dart SDK, such as the web compilers, should go on the [SDK repo

[2022-08-29 20:39] #2321 closed

[2022-08-29 20:40] #2231 closed

[2022-08-31 07:18] ynlvko commented on #1588
Should it give a compile-time error? E.g. Kotlin has "List" and "MutableList" interfaces. Can we make something like this for Dart and check that only the "non-mutable" List can be assigned to a "const"?

[2022-09-03 12:29] mukhtharcm commented on #2288
+1

[2022-09-04 08:00] domesticmouse commented on #2303
This is now available in production DartPad

[2022-09-04 08:00] #2303 closed

[2022-09-04 08:00] domesticmouse commented on #2232
This is now available in production DartPad

[2022-09-04 08:00] #2232 closed

[2022-09-04 08:00] domesticmouse commented on #2229
This is now available in production DartPad

[2022-09-04 08:00] #2229 closed

[2022-09-04 08:00] domesticmouse commented on #2195
This is now available in production DartPad

[2022-09-04 08:00] #2195 closed

[2022-09-04 08:00] domesticmouse commented on #2176
This is now available in production DartPad

[2022-09-04 08:00] #2176 closed

[2022-09-04 08:01] domesticmouse commented on #2142
This is now available in production DartPad

[2022-09-04 08:01] #2142 closed

[2022-09-04 08:01] domesticmouse commented on #2108
This is now available in production DartPad

[2022-09-04 08:01] #2108 closed

[2022-09-04 08:01] domesticmouse commented on #2101
This is now available in production DartPad

[2022-09-04 08:01] #2101 closed

[2022-09-04 08:01] domesticmouse commented on #2089
This is now available in production DartPad

[2022-09-04 08:01] #2089 closed

[2022-09-04 08:01] domesticmouse commented on #2075
This is now available in production DartPad

[2022-09-04 08:01] #2075 closed

[2022-09-04 10:39] AAverin opened #2353 "Add `timezone` package"
Would be lovely to get timezone https://pub.dev/packages/timezone in dartpad to simplify testing different timezone code

[2022-09-04 18:16] nohe427 commented on #2258
The GitHub integration works for me, however, I would like to second the suggestion for multi file support. Gists support multiple files, so it would be nice to see additional files within the editor.

[2022-09-05 00:28] alechenninger opened #2354 "Add `fast_immutable_collections` package"
Opening an issue per https://medium.com/dartlang/announcing-package-support-for-dartpad-66a4b415970b#671a

Thanks!

[2022-09-09 09:00] bytes7bytes7 opened #2356 "Not found: 'package:equatable/equatable.dart'"
## What happened?

DartPad can not compile code with equatable package

## Steps to reproduce problem

Just import equatable package

## Additional info

### Browser

Browser: Firefox

Version: 104.0 (64-bit)

No browser extensions & plugins.

### Console errors

[code]

### Machine

Operating system: Windows 10 corporate

Version: 21H2

### Code

[code]

### DartPad's output

[code]

[2022-09-14 07:01] parlough commented on #2346
I'll go ahead and close this, but feel free to comment here or open a new issue if you have any more information or need any help. Thanks!

[2022-09-14 07:01] #2346 closed

[2022-09-14 10:38] rontarrant commented on #1643
Another vote in favour or a light theme. I can't use it otherwise. It's way too hard on my eyes.

[2022-09-16 16:50] johnpryan opened #2360 "Chromedriver tests fail"
When I run `grind deploy`, an end-to-end test in [playground_test.dart](https://github.com/dart-lang/dart-pad/blob/master/test/e2e/playground_test.dart) is failing:

[code]

I'm using Chrome 105.0.5195.125 with Chromedriver 105.0.5195.52

cc: @srawlins

[2022-09-16 17:16] srawlins commented on #2360
Yikes, does this run in CI too, or just when run manually locally?

[2022-09-16 17:18] johnpryan commented on #2360
no these tests are skipped when they run in CI: https://github.com/dart-lang/dart-pad/blob/master/test/e2e/playground_test.dart#L140

[2022-09-19 09:31] brizaldi opened #2362 "Add support for `dartz` package"
[https://pub.dev/packages/dartz](https://pub.dev/packages/dartz)

[2022-09-19 19:54] iapicca opened #2363 "go_router package out-of-date"
### step to reproduce

1. copy paste this [code sample](https://github.com/flutter/packages/blob/main/packages/go_router/example/lib/shell_route.dart) in [dartpad](https://dartpad.dartlang.org/)
2. observe errors for features introduced in [4.5](https://pub.dev/packages/go_router/changelog#450)

[2022-09-19 22:43] natebosch commented on #1806
Support for non-null safe Dart has been removed entirely. https://github.com/dart-lang/dart-pad/issues/2042

[2022-09-19 22:43] #1806 closed

[2022-09-20 00:39] #2363 closed

[2022-09-20 16:45] a-wallen opened #2364 "[accessibility] `New Pad` Dialog Does not Support Tabbing."
## What happened?

![image](https://user-images.githubusercontent.com/44445638/191316437-24258ef8-72a1-4579-9acf-e24927ecf1cd.png)

I can't tab through this dialog to select a new dart or Flutter project. A mouse is required for this selection.

## Steps to reproduce problem

1. Select new pad.
2. Use the tab key to select dart or flutter.

## Additional info
N/A

### Browser
Chrome

### Machine
M

[2022-09-20 18:12] srawlins opened #2365 "Support records experimental feature"
I forget how we enable experiments in dartpad, but we should soon-isssh start supporting the 'records' experiment. The command-line flag should be something like `--enable-experiment=records`.

We should _not_ start _now_; things are too early. I think static support is largely complete, but the web support is not there yet, for when the user clicks "Run."

Additionally, there is likely a big chan

[2022-09-21 04:22] domesticmouse commented on #2365
I'd guess the `master` channel will be the best place to do it, as that'll have the most up to date version of Dart

[2022-09-21 23:27] leighajarett opened #2366 "Make it easier to add packages to dartpad"
During the research sessions at Flutter Vikings, package authors and consumers mentioned that embedding examples for their package using dartpad either on their own docs sites or within pub.dev would be useful. However, when they develop a new package it can be difficult to get it added to dartpad. So ideally there would be a way for authors to add their package on their own.

[2022-09-22 00:45] domesticmouse commented on #2366
Due to security concerns we can't go down this path.

[2022-09-22 00:45] #2366 closed

[2022-09-22 10:06] chris-netizen opened #2367 "Run button not consistent in Microsoft Edge"
I need to click the run button multiple times before the code runs. Although this doesn't happen all the time, it happens quite often.

[2022-09-22 21:45] domesticmouse commented on #2367
I've seen this delay on multiple browsers, so it isn't MS Edge specific. I'm curious if pre-loading the Skia WASM bundle would help...

[2022-09-22 22:07] parlough commented on #1978
Thanks for opening the issue. I'm going to close this as a duplicate of https://github.com/dart-lang/dart-pad/issues/1072.

Looks like this would involve incorporating a new editor, such as Monaco (like you mentioned) or the 6.x version of Codemirror which is a complete remake.

[2022-09-22 22:07] #1978 closed

[2022-09-22 23:55] #2364 closed

[2022-09-23 07:32] parlough commented on #2112
I started looking into the primary issue here and the situation seems a little complicated on Windows. On macOS, you can use Option+Tab to move focus out of the editor and continue along the normal flow. Windows does not seem to have an equivalent.

Most of the arrow, bracket, or number related key bindings relating to ctrl and alt are already used for editor functionality or by the browse due to

[2022-09-28 22:03] killermonk opened #2372 "Large hexadecimal values are not properly converted to integers"
## What happened?

I tried to use the following code to determine the decimal value of the given hexadecimal value:

[code]

Expected output (output generated by CLI):
62129658859368976

Actual output (off by +4):
62129658859368980

## Steps to reproduce problem

Run the above code in dartpad. It gives the wrong output 100% of the time.

## Additional info

### Browser

Browser: Chrome

Version: 1

[2022-09-28 23:37] domesticmouse commented on #2372
I believe you are hitting a difference in behaviour between DartVM and Dart on the web. Please have a look at https://dart.dev/guides/language/numbers for more detail.

[2022-09-28 23:37] #2372 closed

[2022-09-29 00:24] killermonk commented on #2372
@domesticmouse you are correct. I hadn't realized that web integers lost precision past 53 bits. Thanks for the docs link!

[2022-10-02 16:17] ijdthealpha opened #2378 "Dart practical"

[2022-10-02 17:37] #2194 closed

[2022-10-02 19:48] parlough commented on #2378
Hey @ijdthealpha, thanks for opening an issue.

Could you provide some more information on the issue you are facing?

[2022-10-02 22:00] parlough commented on #2194
Seems both links are working for me. Did you close this as it is working for you now?

[2022-10-03 20:24] parlough commented on #2112
Reopening as the formatting/replace issue was fixed but haven’t finished the tab improvements yet.

[2022-10-04 06:37] davidhicks980 opened #2379 "[Feature] Make DartPad window or contents on API pages resizeable"
Hello DartPad team -- I was told by the [Flutter team](https://github.com/flutter/flutter/issues/112839) may be able to address some embedded DartPad QOL improvements.

## Use case
Make it easier to explore more complicated embedded code samples.

## Proposal
Any of the following:

* Make DartPad on the api docs larger vertically and/or horizontally
* Give the option to resize the outer limits of

[2022-10-04 06:42] davidhicks980 commented on #2379
Looks like an active issue already exists -- closing.

[2022-10-04 06:42] #2379 closed

[2022-10-04 10:38] KarthiDreamer opened #2380 "give us option to open a single file in a gist using 'dartpad.dev/#gistid' method the gists as a folder for codes (of each file)"
**This may help  us better organize gist in a folder and file hierarchy in which I can store multiple files in a single gist.**

For example:
Take this example gist:          " https://gist.github.com/KarthiDreamer/4fd4e1cd6ae1d669eb59c9091e4f6bb9 "

The gist has 2 files, one has main function and the other one has a simple print function ,
And I found that when I tried to convert it to dartpad fi

[2022-10-04 19:36] gh-pap opened #2381 "ErrorWidget class example doesn't work in dartpad"
## What happened?
Running the dartpad embedded at the top of this page https://api.flutter.dev/flutter/widgets/ErrorWidget-class.html failes with 'Script error.'. This same script works fine if I run it on my local machine (web platform).

## Steps to reproduce problem
Run the dartpad embedded at the top of this page https://api.flutter.dev/flutter/widgets/ErrorWidget-class.html and click the butt

[2022-10-04 21:09] domesticmouse commented on #2381
I suspect our error mapping regexes are trapping the `ErrorWidget` somehow

[2022-10-05 00:36] definite-d commented on #2194
Yes, I did. They're working now, thank you.

[2022-10-05 23:09] johnpryan commented on #2380
Duplicate of #2149

[2022-10-05 23:12] johnpryan commented on #2378
Closing this for now.

[2022-10-05 23:12] #2378 closed

[2022-10-05 23:16] johnpryan commented on #2334
Can this be closed now that https://github.com/dart-lang/dart-pad/pull/2227 has landed?

[2022-10-05 23:28] johnpryan opened #2382 "Support updating the Gist dropdown samples without code changes"
The list of Gist IDs in the dropdown are [fixed](https://github.com/dart-lang/dart-pad/blob/master/lib/playground.dart#L236). Instead, they could be saved as a list in _another_ Gist, which DartPad would load first.

Credit to @timmaffett, who came up with the idea in [this comment](https://github.com/dart-lang/dart-pad/issues/2322#issuecomment-1179502697).

[2022-10-05 23:31] johnpryan commented on #2322
@timmaffett That's a good idea, the only downside I see is that it might make loading the dropdown a little slower. I filed this issue to track: https://github.com/dart-lang/dart-pad/issues/2382.

[2022-10-05 23:32] johnpryan commented on #2324
Duplicate of https://github.com/dart-lang/dart-pad/issues/2360

[2022-10-05 23:32] #2324 closed

[2022-10-05 23:35] #2380 closed

[2022-10-05 23:42] johnpryan commented on #2037
Fixed by https://github.com/dart-lang/dart-pad/issues/1826

[2022-10-05 23:42] #2037 closed

[2022-10-05 23:51] johnpryan commented on #857
Fixed by https://github.com/dart-lang/dart-pad/issues/1826

[2022-10-05 23:51] #857 closed

[2022-10-05 23:55] johnpryan commented on #1467
Duplicate of https://github.com/dart-lang/dart-pad/issues/1365

[2022-10-05 23:57] johnpryan commented on #1571
This is now printing normally:

[code]

[2022-10-05 23:57] #1571 closed

[2022-10-06 00:02] johnpryan commented on #1574
This is fixed, feel free to comment if you are still seeing incorrect messages like  this:

[code]

[2022-10-06 00:02] #1574 closed

[2022-10-06 00:03] johnpryan commented on #1589
Duplicate https://github.com/dart-lang/dart-pad/issues/1574

[2022-10-06 00:03] #1589 closed

[2022-10-06 00:04] #1467 closed

[2022-10-06 00:08] johnpryan commented on #1762
Let's close this issue and keep using the error messaging label to track these.

[2022-10-06 00:08] #1762 closed

[2022-10-06 00:14] #1736 closed

[2022-10-06 00:16] johnpryan commented on #1871
Duplicate of https://github.com/dart-lang/dart-pad/issues/1365

[2022-10-06 00:16] #1871 closed

[2022-10-06 00:16] johnpryan commented on #2157
Related to https://github.com/dart-lang/dart-pad/issues/1365

[2022-10-06 00:17] johnpryan commented on #2325
This is the expected behavior - more info here: https://dart.dev/guides/language/language-tour#late-variables

[2022-10-06 00:17] #2325 closed

[2022-10-06 00:19] johnpryan commented on #2325
Actually, I think this is a duplicate of https://github.com/dart-lang/dart-pad/issues/1365, since the error is printing as long as you don't use DDC by importing `flutter/**` libraries

[2022-10-06 00:20] johnpryan commented on #1618
Duplicate of https://github.com/dart-lang/dart-pad/issues/1365

[2022-10-06 00:20] #1618 closed

[2022-10-06 00:22] johnpryan commented on #2328
Closing until we can get more info from the JS console.

Related to https://github.com/dart-lang/dart-pad/issues/1365

[2022-10-06 00:22] #2328 closed

[2022-10-06 00:24] #2334 closed

[2022-10-06 00:29] johnpryan commented on #2226
Closing as a duplicate of https://github.com/dart-lang/dart-pad/issues/1522

[2022-10-06 00:29] #2226 closed

[2022-10-06 00:29] johnpryan commented on #2226
Duplicate of https://github.com/dart-lang/dart-pad/issues/1522

[2022-10-06 00:30] johnpryan commented on #2302
Thanks for filing an issue, this is a known problem and should definitely be fixed at some point. Other tools in the JS ecosystem do a better job here.

Duplicate of https://github.com/dart-lang/dart-pad/issues/1522

[2022-10-06 00:30] #2302 closed

[2022-10-06 00:30] johnpryan commented on #2302
Duplicate of https://github.com/dart-lang/dart-pad/issues/1522

[2022-10-06 00:31] #1250 closed

[2022-10-06 00:32] johnpryan commented on #2307
Can you provide more information from the JavaScript console?

[2022-10-06 00:32] #2307 closed

[2022-10-06 16:51] johnpryan commented on #2308
This should be allowed now that this feature has shipped in 2.17: https://github.com/dart-lang/language/issues/1072. Feel free to comment and we will reopen if you're still seeing an issue with this.

[2022-10-06 16:52] johnpryan commented on #2310
I can't reproduce this. Feel free to reopen if you're still seeing this.

[2022-10-06 16:52] #2310 closed

[2022-10-06 16:57] johnpryan commented on #1447
I think this is out of date, feel free to leave a comment if you're still running into this.

[2022-10-06 16:57] #1447 closed

[2022-10-06 17:02] johnpryan opened #2383 "Support Flutter compilation when using build_runner for development environment"
When you run DartPad using `dart run build_runner serve`, Flutter compilation doesn't work correctly:

[code]

[2022-10-06 17:11] jonahwilliams opened #2384 "import "" doesn't work on dartpad"
`import "" as foo` allows you to refer to the current library through an identifier. Its not ... exactly a useful feature. On DartPad, this currently fails to compile with the text "unsupported import"

Example:

[code]

From local testing, dart compile js (dart2js) and flutter run -d chrome (dartdevc) both seem to handle this code fine. Unclear if this is due to a particular configuration on Dart

[2022-10-06 22:36] jonahwilliams commented on #2384
It occurs to me that Dartpad likely has some form of import allowlist, and this would need to be added to it.

[2022-10-07 00:04] Luckey-Elijah commented on #1290
I think this would be an excellent feature to add. As more Dart and Flutter libraries create extensive documentation (like [`riverpod`](https://riverpod.dev/) and [`bloc`](https://bloclibrary.dev/) for example), those libraries would benefit from demonstrating examples and use cases directly in their documentation websites with project-based DartPads.

I hope adds the potential added value to the

[2022-10-07 05:48] domesticmouse commented on #2384
I think https://github.com/dart-lang/dart-services/blob/master/lib/src/project.dart#L192 is where the fix would be required.

[2022-10-08 20:12] #2384 closed

[2022-10-09 01:06] MelbourneDeveloper opened #2387 "Gist Multi File Support"
Gists now support multiple files. It would be really awesome if Dartpad could include these files so we can import them. This is almost as good as referencing packages from Pub Dev

Here is an [example gist](https://gist.github.com/MelbourneDeveloper/a0b74ffad825ca6c2224ac84e1d58614) that has two files:

Here is the [Dartpad link](https://dartpad.dev/?id=a0b74ffad825ca6c2224ac84e1d58614)

But I ge

[2022-10-09 01:13] parlough commented on #2387
Thanks for opening an issue! Definitely would be nice to see multiple Dart file support. The necessary work is being tracked in https://github.com/dart-lang/dart-pad/issues/2149.

Duplicate of https://github.com/dart-lang/dart-pad/issues/2149

[2022-10-09 01:13] #2387 closed

[2022-10-10 17:56] parlough opened #2388 "Update mdc_web then roll those updates into DartPad"
We currently have to [override](https://github.com/dart-lang/dart-pad/blob/master/pubspec.yaml#L43-L48) the `sass` dependency due to a previous issue with Material Components Web which the fix for has not yet rolled into `package:mdc_web`. Due to changes in modern `sass` versions, we also have to restrict `sass_builder` to an old version.

We should incorporate the new changes into `package:mdc_we

[2022-10-13 18:18] johnpryan opened #2389 "Improve UX around "Show solution" button in workshops"
See [this comment](https://github.com/dart-lang/dart-pad/issues/2251#issuecomment-1274373713) for context.

cc: @brianegan

[2022-10-13 18:57] #2381 closed

[2022-10-15 16:39] abinvs-2019 opened #2390 "'primary' is deprecated and shouldn't be used. Use backgroundColor instead."
## What happened?

Go to the dart pad,
Open the PadRacing DartPad sample.
You would see a deprecation message.

## Additional info

### Browser

Browser:

Version:

Are you using any extensions/plugins that affect website behavior
(particularly those that affect iframes, such as ad blockers)?

Are there any warnings or errors in your browser's JavaScript console?
If so, paste them below:

[code]

[2022-10-18 10:33] abinvs-2019 commented on #2390
@domesticmouse Can you reference where these files are?.

[2022-10-18 11:00] domesticmouse commented on #2390
They are in gists. I'll fix it later today.

[2022-10-18 18:15] SuporteSysrs01 commented on #2365
I would really like to test the records feature in DartPad. Is there a way for me to enable it manually in the master channel or do I have to wait for it to be enabled by default?

[2022-10-18 18:21] srawlins commented on #2365
No, it is not implemented yet. It will be some months.

[2022-10-18 19:32] domesticmouse commented on #2390
PadRacing DartPad sample updated.

[2022-10-18 19:32] #2390 closed

[2022-10-21 23:22] gspencergoog opened #2391 "Add an "Open in VSCode" link to DartPad"
Since we now have a way to save the contents of a DartPad in a GitHub Gist, it would be very nice to have a way in the DartPad UI to take the current contents, save them to a Gist, and then open them in a new project in VSCode with a single click. Something along the lines of [this proposal](https://github.com/Dart-Code/Dart-Code/pull/1358) for internal links in VSCode, but for the current content

[2022-10-23 03:56] fzyzcjy opened #2392 "Make it a real REPL (interactive shell) instead of full-restart every time, with https://github.com/fzyzcjy/dart_interactive?"
Hi, I have recently made https://github.com/fzyzcjy/dart_interactive, a REPL for Dart. So, maybe DartPad can utilize it to create a real REPL?

[2022-10-23 05:44] domesticmouse commented on #2392
Anything short of adopting zap.run style client side compilation would have too high a server side compute cost. We can't afford to tie up servers waiting for developers to type things in.

[2022-10-23 05:44] #2392 closed

[2022-10-23 05:45] fzyzcjy commented on #2392
@domesticmouse The REPL seems to run in *browser*, instead of in *server* IMHO.

Btw I googled "zap.run style" without finding anything...

[2022-10-23 05:46] fzyzcjy commented on #2392
seems Dart supports compile to web and run locally without a need for server.

[2022-10-24 14:20] DanTup commented on #2391
Am I right in thinking saving to Gists is not currently supported from Dartpad? I had assumed it was when I logged in, although I can see my gists in Dartpad, I don't seem to be able to save (the Share link just links to https://github.com/dart-lang/dart-pad/wiki/Sharing-Guide which seems to suggest I need to create it myself).

If this was added, would the gist be complete (eg. with pubspec etc.)

[2022-10-24 16:34] srr2k21 opened #2393 "Add a Save Code OR Download Option"
It will be Awesome if we can download the code that has been written in the editor. So, If a save code option OR Download code option is added then it will be great.

[2022-10-24 18:34] domesticmouse commented on #2391
If you login to GitHub using the GitHub drop down menu on the top right of the DartPad UI, you will be presented with the following menu:

<img width="320" alt="Screenshot 2022-10-25 at 4 31 47 am" src="https://user-images.githubusercontent.com/30503/197599757-dbcb1376-304e-45b7-b96e-5a071469885a.png">

The Create Public Gist and Create Private Gist items will do what you are wanting, I believe.

[2022-10-24 18:35] #2393 closed

[2022-10-24 18:38] DanTup commented on #2391
Doh, I'm not sure how I missed that. I think I only looked in the two "Gist" menus (of which I didn't really understand the difference - though now I see there's a star icon on the first, so I guess it's Gists I've starred that are not mine!).

It looks like a pubspec is not currently created - is that something that could/would be supported?

[2022-10-24 20:09] domesticmouse commented on #2391
The current generated `pubspec.yaml` is a superset of all the packages that are supported in DartPad. I'm happy to expose the `pubspec.yaml` for a file, but it won't be optimal. It may be better to encourage developers to `flutter pub add` the appropriate packages for their sample?

[2022-10-25 01:16] domesticmouse commented on #2392
Have a look at https://zapp.run/

It runs the analyzer and compiler inside the browser. Which is very impressive.

[2022-10-25 17:17] wotrans opened #2394 "Error compiling to JavaScript"
When i create a new flutter code and test it dartpad.dev it doesnt work. Dartpad gives the "Error compiling to JavaScript" . How can i fix it?
I used chrome and close all the adblockers.

[2022-10-25 19:56] domesticmouse commented on #2394
Please supply the Dart code that is failing to compile

[2022-10-26 08:57] wotrans commented on #2394
import 'package:flutter/material.dart';

void main() => runApp(MyApp());

class MyApp extends StatelessWidget {
  const MyApp({super.key});

  @override
  Widget build(BuildContext context) {
    return MaterialApp(title: "İlkel Blog Uygulaması", home: AnaEkran());
  }
}

class AnaEkran extends StatelessWidget {
  const AnaEkran({super.key});

  @override
  Widget build(BuildContext context) {

[2022-10-26 09:19] #2394 closed

[2022-10-26 09:20] wotrans commented on #2394
I think my internet connection was the problem i fix it now . Thank you so much.

[2022-10-27 09:02] Xolani-Qwabe opened #2395 "layout"
Layout flutter

[2022-10-27 21:36] domesticmouse commented on #2395
I'm curious what the problem here is? This is insufficient information for a bug report...

[2022-10-29 23:50] wgerstmann opened #2398 "How change default in Dartpad to Dart from Java."
How change default in Dartpad to Dart from Java.

[2022-10-30 05:17] domesticmouse commented on #2398
What do you mean by "Dart from Java"?

[2022-10-30 12:48] mstestlp opened #2399 "Can I add instructions for local development, startup and compilation"
Can I add instructions for local development, startup and compilation

[2022-10-30 20:04] domesticmouse commented on #2399
The README file on this repo and `dart-lang/dart-services` should contain everything required for local development.

What are we missing?

[2022-10-31 04:02] mstestlp commented on #2399
Thanks, I understand it as a flutter project

[2022-10-31 04:12] mstestlp commented on #2399
![image](https://user-images.githubusercontent.com/10651998/198929354-3ddbf197-64d4-44bf-8c89-d40255a894e5.png)
How to generate a build? Thank you

[2022-10-31 09:12] domesticmouse commented on #2399
Windows is not a supported platform. I had a go at adding support a while back, I don't remember what issue I hit tho.

[2022-10-31 09:12] #2399 closed

[2022-10-31 17:15] DanTup commented on #2391
We could, although it does add extra steps - I presume they'd need to create a `pubpec.yaml` first too, to add a name, etc.?

I do have a shortcut for adding packages if they're imported but missing which would make it a little easier:

<img width="562" alt="Screenshot 2022-10-31 at 17 14 01" src="https://user-images.githubusercontent.com/1078012/199068326-05306de2-cfc1-432c-885f-aa389f33ba36.png"

[2022-10-31 17:28] gspencergoog commented on #2391
I wonder if we could add an option to the pub tool to remove unused dependencies.  Then we could start with the generated pubspec and run the pub tool on it once the snippet is downloaded to simplify it to just those packages that are actually used.

[2022-10-31 17:38] gspencergoog commented on #2391
Added a feature request, since that seems generally useful anyhow.

[2022-11-01 21:08] wgerstmann commented on #2398
I am doing the Flutter tutorial and the execution defaults to Javascript.  I have run https://dartpad.dartlang.org/ in Chrome and Firefox with the same result.  Dart has a Type called list and Javascript does not have list.
Others have posted the same issue with resolution.

[2022-11-01 21:18] domesticmouse commented on #2398
Can you link the other issues and resolution?

[2022-11-04 15:30] lrhn opened #2407 "Feedback on "install SDK popup" experiment"
I just got hit by this experiment on dartpad.dev.

<img src="https://lh3.googleusercontent.com/pw/AL9nZEX4Y0sdezJEfwSQ5ltJrXZexvWlRS3zB4HpEX1C8wP5BAqCFyFrFSp1nPjpT6nyBPRyHZcpj6ID8S-o1WVPYzLmL846PlAOYAm41-XopnUnWDFYCGQ_nCbfxkU7EmNjGez9Un0-zwiYB87X4FxfTmE=w765-h447-no?authuser=0">

(Found https://github.com/dart-lang/dart-pad/pull/2397 relating to the experiment, which is why I think it's an experim

[2022-11-05 03:00] domesticmouse commented on #2407
FYI @johnpryan

[2022-11-07 14:37] leighajarett opened #2408 "Support for standard files in Github as opposed to just gists"
When writing the Flutter documentation, we create samples that are stored in the Flutter website repository. It would be great to have these accessible in Github without needing to explicitly make them gists. Making them gists means that we have two copies of the same code, and thus two places to update things.

An ideal system would be that we could specify the file path to a public dart file wit

[2022-11-07 18:31] johnpryan commented on #2407
Thanks for the feedback, cc'ing @maguinis. Instead, we could highlight the "Install SDK" button, instead of displaying a modal dialog. Maybe we could draw attention to the "Install SDK" button by using an absolutely-positioned callout like this:

<img width="344" alt="Screen Shot 2022-11-07 at 10 30 08 AM" src="https://user-images.githubusercontent.com/1145719/200387253-953fc963-0c41-4688-8231-c47

[2022-11-08 06:59] guidezpl opened #2409 "Support selecting channel in Flutter embeds"
I recently ran into samples which don't run on the Flutter master channel API docs pages (https://master-api.flutter.dev). For example, https://dartpad.dev/embed-flutter.html?split=60&run=true&null_safety=true&sample_id=material.Switch.3&sample_channel=master. `sample_channel=master` here seems to affect the docs, but not the Flutter SDK version.

https://dartpad.dev/?channel=master is already sup

[2022-11-08 22:43] craiglabenz commented on #2407
fwiw, I completely agree with @lrhn on the desire to revert this.

[2022-11-09 19:13] johnpryan commented on #2409
DartPad supports the `channel` parameter in embeds, I think the issue is that there's both the `sample_channel` and `channel` parameters. See [this comment](https://github.com/flutter/flutter/issues/114795#issuecomment-1309192617) - I'm going to close this, but feel free to comment if you're still seeing unexpected behavior

[2022-11-09 19:13] #2409 closed

[2022-11-10 05:56] KyleFin opened #2410 "english_words package doesn't work in DartPad"
## What happened?

english_words is listed in `Directly importable packages`, but when I import it, I get `Error: Couldn't resolve the package 'english_words' in 'package:english_words/english_words.dart'.`

I confirmed I was able to import and use a different package as expected (bloc).

## Steps to reproduce problem

Example code from https://pub.dev/packages/english_words:

(Printing the top 50

[2022-11-10 06:28] domesticmouse commented on #2410
That'd be due to the fact that it is currently listed as a Flutter package, not a Dart package. Fix in flight.

[2022-11-11 07:24] Faiizii commented on #901
please add "dart:isolate";

[2022-11-11 11:05] domesticmouse commented on #901
@Faiizii Dart doesn't support isolates when cross compiling to JavaScript, which is how DartPad works.

[2022-11-13 03:37] #2309 closed

[2022-11-15 12:37] JUNGHUNKIM-7 opened #2412 "Vim mode is no more working on firefox"
- Problem
Whenever i escape editing from insert mode to normal mode, that doesn't work properly,
More specifically, escape key isn't working.
i tested another online pad(ts, rust) & browser(edge). but it seems the problem of dartpad.
originally, i was very satisfied and enjoyed coding at dartpad with vim.

Browser: Firefox
Version: 106.0.5 (x64)
Operating system: windows10

[2022-11-15 17:44] MilindGour9869 commented on #1545
When You don't have Kaspersky wait for around 1 minute , the code runs slow on web ...

[2022-11-15 17:55] parlough commented on #2412
Thanks for opening an issue. I see what caused this and am working on a fix.

[2022-11-15 18:24] johnpryan commented on #2412
This also happens in Chrome for me sometimes - as a workaround you should be able to press `ctrl+c` to get the editor in the right state again.

[2022-11-15 18:32] johnpryan commented on #2408
The Dart and Flutter sites support this through the "inject_embed.js" script. If you include some JavaScript on your page, it will convert code blocks into DartPad editors when the page loads.

The instructions here should be up-to-date: https://github.com/dart-lang/dart-pad/wiki/Embedding-Guide#converting-code-blocks-to-dartpad

You can also find some examples in the docs, for example, the [Creat

[2022-11-15 18:34] johnpryan commented on #2407
This experiment is no longer running. We'll need to get the UX right if we decide to do this permanently.

[2022-11-15 18:34] #2407 closed

[2022-11-15 18:35] #2395 closed

[2022-11-15 18:41] #2271 closed

[2022-11-15 18:44] johnpryan commented on #2241
@himanshubanerji can you help me understand the use-case? It seems like `ctrl +` to zoom is working, but might not be ideal...

[2022-11-15 18:53] johnpryan commented on #2239
Read and write access is required for this feature - the tradeoff here is to accept GitHub Gist's privacy semantics (gists are always public, even secret gists) to avoid maintaining a custom server to store snippets and authenticate users.

This isn't something we plan to change soon, so I'm going to close this issue. Feel free to comment or file another issue if you would like to change how GitHu

[2022-11-15 18:53] #2239 closed

[2022-11-15 18:53] johnpryan commented on #2228
Is this still an issue?

[2022-11-15 18:55] johnpryan commented on #2205
You can use DevTool's [App Size tool](https://docs.flutter.dev/development/tools/devtools/app-size)

[2022-11-15 18:55] #2205 closed

[2022-11-15 18:59] johnpryan commented on #2181
DartPad uses an [iframe](https://github.com/dart-lang/dart-pad/blob/master/web/scripts/frame.html) with a [script](https://github.com/dart-lang/dart-pad/blob/master/web/scripts/frame.js) that bootstraps the flutter app.

[2022-11-15 18:59] #2181 closed

[2022-11-15 19:01] johnpryan commented on #2164
https://github.com/dart-lang/dart-pad/issues/2149 is the meta-issue for multiple file support. You can embed DartPad on any site by following the https://github.com/dart-lang/dart-pad/wiki/Embedding-Guide - you don't necessarily need to run dart-services yourself unless you need custom packages.

[2022-11-15 19:01] #2164 closed

[2022-11-15 21:02] puf commented on #2228
When I run the attached Dartpad, it says:

[2022-11-15 21:14] johnpryan commented on #2228
Thanks for the update - keeping this a P1

[2022-11-15 22:30] domesticmouse commented on #2228
This is intentional, and I have no intention of walking back the security first stance.

[2022-11-15 22:58] johnpryan commented on #2228
Shall we close this as not planned?

[2022-11-15 23:45] #2228 closed

[2022-11-16 16:47] #2412 closed

[2022-11-16 20:08] parlough commented on #2388
@johnpryan Looks like holding back sass is going to start causing problems (https://github.com/dart-lang/dart-pad/actions/runs/3481346651/jobs/5822319108). I'm not familiar with the process of updating mdc_web or what is required there. Could you provide some context on how to do so or do so when you get a chance?

[2022-11-16 23:45] parlough commented on #2264
This was bumped again in https://github.com/dart-lang/dart-pad/pull/2285, many months ago, and seems to be working fine.

[2022-11-16 23:45] #2264 closed

[2022-11-17 07:25] KyleFin commented on #2410
Confirmed it's working for me now. Thanks for the quick fix!

[2022-11-17 07:25] #2410 closed

[2022-11-17 21:53] johnpryan commented on #2388
There's a script to automatically update the SASS in mdc_web: https://github.com/jifalops/mdc_web/blob/master/tool/generate_sass.dart.

Running that script will install (https://www.npmjs.com/package/material-components-web) version 14.0.0, and attempt to set up the SASS dependencies, but there's a few import issues when I try to run DartPad:

[code]

I'm not sure why this mixin isn't available -

[2022-11-21 06:40] Colin-Stark opened #2415 "Support for the ethers 0.0.1+3 package"

[2022-11-21 17:04] nilsreichardt opened #2416 "Unable to use the GitHub login feature: `Route not found`"
## What happened?

I tried to use the GitHub login feature:

<img width="346" alt="image" src="https://user-images.githubusercontent.com/24459435/203115238-f958ad4d-eb19-4097-8834-f678ae9c99c6.png">

However, I landed on this site:

<img width="814" alt="image" src="https://user-images.githubusercontent.com/24459435/203115314-bd10b93c-4de0-4d38-bdee-67fb3550c5c3.png">

## Steps to reproduce proble

[2022-11-21 22:33] domesticmouse commented on #2415
This package has issues: https://pub.dev/packages/ethers/score

I don't see the upside of putting an Ethereum package in DartPad, fwiw.

[2022-11-23 01:49] domesticmouse commented on #2416
@timmaffett Any ideas on what I've forgotten to configure for the Master channel?

[2022-11-27 14:56] timmaffett commented on #2416
Hi @domesticmouse , sorry for the delay in getting back to you, my father has been in the hospital for coviid and I have been away. Thankfully he is doing better.

 The route for `github_oauth_initiate` is added in `github_oauth_handler.dart` 's  `addRoutes()` method.  This is always called, but routes will not be added if `initializationEndedInErrorState` is set.   This will be set if either of t

[2022-11-27 14:58] nilsreichardt commented on #2416
I wish your father all the best, @timmaffett! <3

[2022-11-27 15:25] timmaffett commented on #2416
Thank you for your kind words @nilsreichardt

@domesticmouse I looked through the code closer and it really looks like one/or both of those environmental variables must be missing.  (They are secrets in your google run instance so it could also be something like missing `Secret Manager Secret Accessor` role also)

There should also be specific errors in the logs about the missing `PK_GITHUB_OAUTH_

[2022-11-28 12:38] domesticmouse commented on #2416
I believe this issue is now fixed. =)

[2022-11-28 12:38] #2416 closed

[2022-11-28 12:40] nilsreichardt commented on #2416
Yes, I can confirm this. Thanks for the quick fix ❤️

[2022-11-29 04:21] Acid-Free opened #2417 "avoid_init_to_null issue doesn't show when declared const"
## What happened?

When assigning null to a newly declared variable, avoid_init_to_null issue shows up in the bottom-right of the screen.
![image](https://user-images.githubusercontent.com/49774633/204438013-93530e02-0c08-4bd9-98cc-2b6bb2b0b96a.png)
However, when declared as const, the issue disappears.

## Steps to reproduce problem

1. Define a constant variable [with const]

## Additional info

[2022-11-29 04:43] parlough commented on #2417
Thanks for filing an issue!

This is expected because `const` declarations must be initialized in the declaration and cannot change, so if you want it to be `null`, you need to explicitly do so.

Note the lint also won't appear if the declaration is `final` as `final` variables cannot be read/accessed until assigned, so if you want it to be `null` and use that variable, you need to explicitly do s

[2022-11-29 04:43] #2417 closed

[2022-11-30 17:11] #2398 closed

[2022-11-30 22:38] #2415 closed